[2020-12-21 18:19] Kritner commented on #1099
It should be just a matter of including the random value and random len in your responses as the error message indicates.  It looks like the specification could be updated to include these values under the responses sections, but it's equivalent to the "vector set" described in https://usnistgov.github.io/ACVP/draft-celi-acvp-rsa.html#name-rsa-siggen-test-cases-json-

[2020-12-21 21:09] NorthHill-16 commented on #890
Hi, @smuellerDD and @Kritner

Sorry for late reply, thank you very much! After some checking, it is caused by P-256.

[2020-12-21 22:10] jbarnesweb commented on #1099
The "vector set" doesn't contain randomValue and randomValueLen attributes. The definition provided at the link you sent says randomValue is "The random value *to be used* as an input into the message randomization function as described in SP800-106."

So should I just consider the randomValue to be "The random value *that was used* as an input into the message randomization function as described

[2020-12-21 22:46] mpacumen opened #1100 "KAS IFC SSC KAS1/VAL/initiator"
The example test vector in the spec has this entry for KAS1/VAL/initiator:

{
      "tgId": 6,
      "testType": "VAL",
      "tests": [
        {
          "tcId": 26,
          "serverN": "DF44D1628F68B416721BF22EB07BD5815ABF0607E6055B6220E0D4253E82C65D4CD65907529B6018FFEA225F75DD5DB931475EDEFE1F666A3AF47D741BDF8CA72DE2BF949521265F1EE72A8EA26B8E4F46EDC4D85F107146959167C909C0A408D474140F754D7ADBB

[2020-12-22 06:30] smuellerDD commented on #1100
Am Montag, dem 21.12.2020 um 14:46 -0800 schrieb mpacumen:

1. Take the N and E to form a key

2. Encrypt iutC

3. Hash it or apply the KDF depending on your selection

4. Compare output from 3 with 4 and return whether it matches or not.

Ciao
Stephan

[2020-12-22 10:56] Kritner commented on #1100
@mpacumen do you have a vsId I can reference?

You *should* be getting something more like this for val initiator tests:

[code]

where given the provided server public key, and z value, you determine if the "iut generated c" value matches the one provided in the test case.

The IFC KAS is a bit strange from the SSC component, since for the KAS1 scheme only one party actually contributes to the sh

[2020-12-22 16:27] mpacumen commented on #1100
I was trying to test against examples in the spec (section 9.3):
https://usnistgov.github.io/ACVP/draft-hammett-acvp-kas-ssc-ifc.html

Sounds like I need try a set from the demo server with "z" values.

[2020-12-22 20:16] jbarnesweb commented on #1099
Yes, would you please investigate updating the specification to include these values?

[2020-12-22 20:42] jbarnesweb opened #1103 "ACVP demo server fails RSA signaturePrimitive for reason outside of spec"
**Protocol Section**
https://usnistgov.github.io/ACVP/draft-celi-acvp-rsa.html#name-rsa-signature-primitive-tes

**Protocol Question**
Given the following response snippet, the ACVP demo server validation fails. It appears to be per the documentation. When I add a "testPassed": true attribute to test case 4, it passes. Is the signature required? Should the spec be updated?

[code]

[2020-12-22 21:17] celic commented on #1103
Yes, it appears like the `"testPassed"` property is always expected. Should be a spec update to add those lines.

[2021-01-03 17:18] nidhidamodaran commented on #1098
@smuellerDD isn't server/iut ID part of additional data ?

[2021-01-04 10:43] smuellerDD commented on #1098
Yes, that would be part of the additional data - but for a pure OAEP testing without any subsequent KDF, the test vector will not give you any additional data (as expected). And as almost all IUTs I deal with implement OAEP independent of the KDF, I plan to test OAEP separately from the KDF. This approach is accepted by NIST via the latest IG.

[2021-01-04 17:07] amasino opened #1104 "ACVP server cannot recover from a "failed" state"
In case a json file is sent for the first time for a given vsid as a resubmission of the result, the following message is returned by the server:

    "error": "Responses for vsId 418385 not received by the server."

Which is expected behavior as the server had not received a result before.

However, when attempting to send the result json file as the first time (post), the error persists, as if t

[2021-01-05 10:36] Kritner commented on #1098
maybe it's just semantics, but I thought that any KDF is outside the scope of KTS testing anyway.  KTS is just more or less wrapping a key out of band, the IUT/ServerIds that are provided are a part of the AssociatedData that can go into the wrap/unwrap operation.

I want to make sure we're on the same page here, the KTS testing that's in place *should* be just testing against the OAEP implementat

[2021-01-05 10:41] nidhidamodaran commented on #1098
Thanks for the clarification @smuellerDD @Kritner . I have a question regarding the value of "l" too. I see the dkm  size is different from value of l. Is l really the size of dkm ?

[2021-01-05 10:53] smuellerDD commented on #1098
Am Dienstag, dem 05.01.2021 um 02:36 -0800 schrieb Russ Hammett:

Well, not sure what you mean with "outside", but the test spec clearly defines
that KTS = OAEP + optional KDF. You are right that the KDF wraps the data, but
a large number of IUTs implement the basic asymmetric operation (KTS: OAEP /
RSA operation, KAS: DH) separately from any KDFs. Thus, a test of both in
unison may be a challenge

[2021-01-05 12:40] Kritner commented on #1098
From @nidhidamodaran:

That may be a mistake, do you have a vector set ID from demo showing this behavior? I'll need to take a look and confirm/fix.

-----

 of KTS testing anyway.  KTS is just more or less wrapping a key out of band,
 the IUT/ServerIds that are provided are a part of the AssociatedData that
 can go into the wrap/unwrap operation.

that KTS = OAEP + optional KDF. You are right tha

[2021-01-05 12:56] smuellerDD commented on #1098
Am Dienstag, dem 05.01.2021 um 04:41 -0800 schrieb Russ Hammett:

``[[scheme_caps_table]]
.KAS IFC Capabilities JSON Values
|===
| JSON Value| Description| JSON Type| Valid Values| Optional

| kasRole| Roles supported for key agreement| array| initiator and/or
responder| No
| kdfMethods| The KDF methods to use when testing KAS schemes. | object|
<<kdfmethods>>| Not optional for KAS schemes.
| ktsM

[2021-01-05 15:31] nidhidamodaran commented on #1098
{
                  "tcId": 20,
                  "iutN": "A818BD",
                  "iutE": "18B0BB44AA53",
                  "iutP": "B984A....",
                  "iutQ": "E7F5B...",
                  "iutDmp1": "AAB0C...",
                  "iutDmq1": "8315...",
                  "iutIqmp": "B166...",
                  "serverC": "78AF5..."
               }
 For the responder validation part,

[2021-01-05 15:33] smuellerDD commented on #1098
Am Dienstag, dem 05.01.2021 um 07:31 -0800 schrieb Nidhi Damodaran:

If it is a VAL test, this is expected and you should return this failure. For
an AFT, this is not expected.

[2021-01-05 15:38] smuellerDD commented on #1098
Am Dienstag, dem 05.01.2021 um 07:36 -0800 schrieb Nidhi Damodaran:

Nope, it is a straight decrypt after importing the values. But maybe you have
a padding issue? Check that the input values all have the expected lengths -
if not, prepend padding zeros to those values.

[2021-01-07 06:30] dubeyalok7 commented on #816
For DKM Generation on KAS ECC, can any one help me out for constructing fixedInfoPatterns.
For given test vector I tried with **l (4 byte length) || serverId || IutId** to generate DKM but it's not getting matched.

               {
                  "ephemeralPublicServerX": "0014..."
                  "ephemeralPublicServerY": "016..."
                  "ephemeralPrivateIut": "00D791..."

[2021-01-07 06:48] smuellerDD commented on #816
Am Mittwoch, dem 06.01.2021 um 22:30 -0800 schrieb Alok Dubey:

Are you sure that it is serverId || iutId and not the other way round for an
initiator (the client commonly is the initiator and thus may be party U).

[2021-01-07 07:06] dubeyalok7 commented on #816
Reference taken from: https://usnistgov.github.io/ACVP/draft-fussell-acvp-kas-ecc.txt
[code]
Also tried in reverse order also

[2021-01-07 12:21] Kritner commented on #816
note that it's `uPartyInfo` and `vPartyInfo`, not (necessarily) just `partyId`.  `partyInfo` is a potentially concatenated field consisting of:

[code]

In cases where ephemeral data is present (in the form of a ephemeral key or ephemeral nonce, as specified by the scheme being utilized), `partyInfo` is the concatenation of the `partyId` and `ephemeralData`.

[2021-01-07 12:44] dubeyalok7 commented on #816
In given test sample "ephemeral key or ephemeral nonce or ephemeralData" is not available.  So in that case what will be fixedInfoPatterns ? Sample test input mentioned above.

[2021-01-07 13:24] Kritner commented on #816
yes it's `X || Y`, where both `X` and `Y` are padded to the proper order prior to concatenation.

[2021-01-07 14:10] dubeyalok7 commented on #816
So for above test sample fixed pattern will be
l (4 byte length) || serverId || ephemeralPublicServerX || ephemeralPublicServerY || iutId || ephemeralPublicIutX || ephemeralPublicIutY

[2021-01-08 16:19] nidhidamodaran commented on #1098
{
               "tcId": 8,
               "iutN": "A97E25EC26FBDB464F81CA5E1BBE412485961ECE7C0003E8EDFC63B6946F6B3E42B13235F7FC4EF52AD5719C67B8BF5F492CF3D7721AEAD0DEE44B867BF55C388BE3B2D4FD04737846032DA940B8596D423CE2D965A6FC724600411BCF2C5BA4931EE7E8943718366EC33D7079F58487161F9951CFD38CC7E3E29264677F744BD09C7D0CD1FC1B9B417D3C1CFF53A0B32354CEC86719379632BB1A4E9F3834159BF39FED2A7A2A16F8AA45524712

[2021-01-08 18:05] Kritner commented on #1098
The sample json in the specs are between separate samples are *not necessarily* tied to one another and valid together.  You'll notice that the above test case "prompt file" specifies an `l` of 512, but the sample "result file" returns a key of only 384 bits - the two samples are not from the same test case, in this instance.

I'm not sure if that's where the confusion is coming in, but the best b

[2021-01-10 10:51] nidhidamodaran commented on #1098
Thanks @Kritner . Verified with demo server samples

[2021-01-11 09:06] Sv3n commented on #1013
Are there plans to pick up this issue in the near future? Being able to test a 256 bit KDF at its intended security strength through ACVP is something that my company would like to do soon. If it is not available, then we need to begin on planning to add in work-arounds.

[2021-01-11 15:44] nidhidamodaran opened #1108 "Question: KAS2 VAL test clarification"
For VAL tests, https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ssc-ifc.txt says failure cases include (changed Z, Z with leading zero nibble, etc) . Are there more validation other than changed Z, Z with leading zero nibble?

[2021-01-11 16:17] smuellerDD commented on #1108
Am Montag, dem 11.01.2021 um 07:45 -0800 schrieb Nidhi Damodaran:

56A rev 3 key verification requirements come to mind.

[2021-01-11 17:23] nidhidamodaran commented on #1108
Thanks @smuellerDD , Will check that. So I am assuming iut/Server keys has to be validated as well for this test.

[2021-01-11 22:33] mplascencia opened #1109 "Feedback KDF capabilities question"
When creating a feedback KDF capabilities request for a vendor according to https://pages.nist.gov/ACVP/draft-celi-acvp-kbkdf.html#name-kdf-mode-capabilities we encountered an empty set of test vectors being returned.

The two options we think caused the issue are:
- fixedDataOrder: "before fixed data" (it seems that any option except "none" causes the behavior)
- counterLength: 0

Is this combina

[2021-01-12 05:15] mwcw opened #1110 "Add kdfMode to kdfConfiguration, Sp800-56Ar3, TwoStep Test vector."
Hi,

Would it be possible to add kdfMode (counter, fedback, double pipeline iteration) as defined in the capabilities request to the kdfConfiguration block in the test group for TwoStep kdf test vectors.

At the moment this information is not present and needs to be assumed by the test harness or passed out of band.

It would be cleaner for each set of vectors to be fully stand alone.

Current inf

[2021-01-12 23:54] mpacumen commented on #1056
Are these changes on the demo server?

[2021-01-13 00:00] celic commented on #1056
Should be going out this week.

On Tue, Jan 12, 2021, 6:54 PM mpacumen <notifications@github.com> wrote:

[2021-01-14 09:35] surajshardade opened #1111 "Valid radix length for FF1 & FF3"
I am able to pass all the sample test vectors generated for the FF1 algorithm for radix <= 62. But for radix 64 some of the test vectors able to pass and some not.  So I went through some acvp docs and I found valid length for radix is 2-62 (please take a look at the attached snap.). If so, how can I able to get test vectors for radix 63 and 64?

is this provided limit for radix is still applicabl

[2021-01-14 11:40] Kritner commented on #1095
This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-01-14 11:44] Kritner commented on #1056
This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-01-14 11:44] Kritner commented on #1049
This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-01-14 11:44] Kritner commented on #1110
This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-01-14 18:28] mpacumen commented on #1056
Thanks. I'll give them a try.

[2021-01-15 13:31] #1108 closed

[2021-01-15 17:46] nidhidamodaran commented on #1098
quick question here, I hope there is no validation being done on the dkm value, and this dkm can be any random bytes of the specified size.

[2021-01-15 18:01] Kritner commented on #1098
that's correct, what goes into the generation of the key that's wrapped is not within the scope of testing.

[2021-01-19 15:54] davyrouillard opened #1114 "MsgLen in KMAC capabilities table"
**https://pages.nist.gov/ACVP/draft-celi-acvp-xof.html#name-xof-algorithm-capabilities-**

**Protocol Question**

The capabilities table 2 does not list the parameter ''msgLen" despite it seems require by the server: if omitted, I obtain:
[code]
Should the table 2 also contain this parameter with the expected limit values?
Thanks you.
Davy

[2021-01-19 22:22] mpacumen commented on #1056
Still doesn't work. Changing the encoding of OtherInfo length should have been the only change in v1.1.0.15. Did something else sneak in?

[2021-01-21 02:03] mtdownz opened #1115 "ANSI X9.42 - keyLen, zzLen and otherInfoLen Error"
In re-examining the ANSI X9.42 testing on the ACVP Demo server there appears to be an issue maybe? We are attempting to re-run vectors for one of our vendors that  echo the exact parameters that were used in a past submission; however, the ACVP demo server is now throwing an error. It appears it does not agree to the lengths documented on the NIST page for each parameter (please ref):
https://page

[2021-01-21 13:22] Kritner commented on #1115
@celic I know you were doing some changes to x9.42 related to DER encoding in https://github.com/usnistgov/ACVP/issues/1056

I see that some max lengths were changed recently in the code around this area, was this an intentional change for non DER encoded fixed/other info?  Should the specification be updated?

[2021-01-22 15:58] celic commented on #1115
Intentional, specification updates were in a PR that has been merged in now. The values being allowed were too large, there's no need to generate a 64KB key...

[2021-01-24 19:12] mtdownz commented on #1115
Thank you for updating the documentation. I now see the suppInfoLen information also needed for the DER encoding. Perfect!

[2021-01-24 19:12] #1115 closed

[2021-01-26 09:25] jbarnesweb opened #1116 "Question about RSA sigVer e length"
This is the capability file I'm using to download a test session.

The question is about the pubExpMode attribute. When I set it to random, the e values I receive contain some 8-byte values, which are incompatible with a 32-bit library. FIPS 186-4 clearly clarifies the range of e as follows.

[code]

Is there a way to claim random capability for pubExpMode and constrain the test case e values to 3

[2021-01-26 13:27] abkarcher opened #1117 "Block Cipher Spec page links give 404 error (pages.nist.gov)"
https://pages.nist.gov/ACVP/

All the links under Block Cipher modes currently give me a 404 error.

Thanks.
Andrew

[2021-01-26 13:46] abkarcher opened #1118 "Some feedback regarding SP800-56Cr1 spec"
Hello,
Having recently finished implementing these algs for libacvp, wanted to provide a bit of feedback on some things I noticed:

- for HKDF, "requiresAdditionalNoncePair" is a field provided by server, yet it is not mentioned in spec
- In table 2 for HKDF, Z is mentioned to be a domain, but its "valid values" simply says "l", which is not a domain but a single value
- in table 2 for onestep and

[2021-01-29 08:45] mwcw opened #1119 "New failure when requesting KMAC vectors. "Unable to pair up input and output lengths""
Hi,

We have previously been successful in obtaining vectors for both KMAC-128 and 256, but for KMAC-256 we now receive,

[code]

I have attached a zip file, the "capabilities.json" is what is submitted to ACVP and "UNKNOWN.req.json" has the error.

Let me know if you need more information.

[xof.zip](https://github.com/usnistgov/ACVP/files/5892691/xof.zip)

MW

[2021-01-29 13:36] abkarcher commented on #1117
Issue seems to have been resolved. Thanks!

[2021-01-29 13:36] #1117 closed

[2021-01-29 15:45] Kritner commented on #1119
Taking a look

[2021-01-29 15:45] jbarnesweb opened #1120 "ECDSA sigGen question"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-fussell-acvp-ecdsa.html

**Protocol Question**
Is the purpose of the ECDSA sigGen component test to verify the signature components with the public key? If so, I don't understand why this is failing to verify.

Reason: Validation failed: Failed to verify

Here's an example test case.

[code]

Here's the corresponding result.
[code]

I wrote a

[2021-01-30 00:01] mpacumen commented on #1056
Any further guidance on this issue? Here's an example of OtherInfo that I am using:

30819D
3013060b2a864886f70d0109100306040400000001
a020299D468D60BC6A257E0B6523D691A3FC1602453B35F308C762FBBAC6069A88BC
a12080D49BFE5BE01C7D56489AB017663C22B8CBB34C3174D1D71F00CB7505AC759A
a2203C21A5EA5988562C007986E0503D039E7231D9F152FE72A231A1FD98C59BCA6A
a320FD47477542989B51E4A0845DFABD6EEAA465F69B3D75349B252005

[2021-02-01 11:53] Kritner commented on #1119
This is an issue around the way the gen/vals are generating test cases incorrectly in response to the provided `MathDomain`s, I have a change going through internal testing, will update once the change is on demo.

[2021-02-01 15:08] abkarcher opened #1121 "Table columns misaligned in symmetric block cipher spec (txt and HTML)"
https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.txt

(Also, the link to AES-GMAC on the ACVP homepage points to the AES spec instead of the MAC spec where it was moved)

[2021-02-01 18:19] celic commented on #1056
Do you have a particular VSID or specific test case in mind?

[2021-02-01 19:21] mpacumen commented on #1056
vsId: 431172, tgId: 3, tcId: 115

[2021-02-01 23:02] mwcw commented on #1119
Thanks for your help!

MW

[2021-02-02 03:07] Umayrkaleem commented on #122
MCT = Monte-Carlo Tests

[2021-02-02 22:08] celic commented on #1056
[code]

I fixed a bug and ended up with the otherInfo listed above. The only difference appears to be the `81` in the first line. The length of the rest of the content is 157 bytes, so the length value in the initial preamble should be `9D`. Where is the `81` coming from in your otherInfo?

[2021-02-02 22:50] slontis commented on #1056
The DER encoding of length has two forms: short or long.
The short form is a single byte from 0 - 127.

For lengths bigger than 127 the long form is needed, so it uses at least 2 bytes.
The 1st byte has the top bit set, and the bottom 7 bits indicate how many more bytes are in the length field itself.
The remaining bytes specify the length itself (which can be more than 1 byte).

[2021-02-02 22:54] celic commented on #1056
Ah, I'll make the fix on the server and try to get it out soon.

[2021-02-02 22:56] mpacumen commented on #1056
A length less than 128 fits in one byte and the leftmost bit is 0.  When length is >= 128 then the leftmost bit is set to 1 and the remaining bits specify the number of bytes of length. 81 means length is >= 128 and next byte contains the length, hence 819D.

[2021-02-03 03:00] mwcw opened #1122 "Viewing certificates post Validation"
Hi,

I am asking on behalf of a client that has production access, what is the URL for viewing certificates post validation.

A while back, I think 2019, the url for the demo server was "https://demo.acvts.nist.gov/home".

Could you advise if there is a new url for both prod and demo please?

Sorry if this is in the documentation, I have been unable to find it.

MW

[2021-02-03 12:33] Kritner commented on #1122
Validations can be viewed on CSRC at: https://csrc.nist.gov/projects/cryptographic-algorithm-validation-program/validation-search

[2021-02-03 16:59] celic commented on #1056
The key that was derived for this particular case was `A7758EC5DA5373C736F1E4CF18A4B6349B23ED86227234185B44638C69EBB222`?

[2021-02-03 17:26] mpacumen commented on #1056
I am able to compute the same key. This is good news.

[2021-02-03 17:32] celic commented on #1056
Great. I'll package this into the demo deployment set for today.

On Wed, Feb 3, 2021, 12:26 PM mpacumen <notifications@github.com> wrote:

[2021-02-03 18:33] Kritner commented on #1049
@ykalensc are you able to test against this new algorithm on demo?

[2021-02-03 18:55] Kritner commented on #1089
Looks like this was taken care of at some point. I think there may have been an email chain about this as well; missed tagging the issue with the PR.

[2021-02-03 18:55] #1089 closed

[2021-02-03 22:36] mwcw commented on #1122
Thanks!

[2021-02-03 22:36] #1122 closed

[2021-02-04 10:30] Kritner commented on #1119
This change is on demo

[2021-02-04 10:41] Kritner commented on #1056
The change @celic referenced in https://github.com/usnistgov/ACVP/issues/1056#issuecomment-772687173 is on demo

[2021-02-05 03:39] eslerd commented on #1120
@jbarnesweb my understanding is that if `componentTest` is true, the message has already been hashed and you are strictly testing your ECDSA implementation. It makes sense that `openssl dgst -sha256 -verify public.pem -signature signature.bin msg.bin` would match, since this too would be hashing the already hashed message before signing.

[2021-02-05 05:51] mwcw opened #1123 "Hours long wait for vectors"
Hi

We have been experiencing hours long waits for vectors from the ACVP demo system during the Australia / Melbourne working day.

So nominally 21:30 UTC to 06:00 UTC.

The registration completes but we just enter continual retries.

We abandoned the attached EDDSA request after almost two hours and just to check we started an a request for AES vectors which at the time of writing this ticket is

[2021-02-05 06:32] smuellerDD commented on #1123
Am Donnerstag, dem 04.02.2021 um 21:51 -0800 schrieb MW:

Considering the queue process on the server, it is possible that there is a
high volume of requests.

Note, you do not need to constantly poll the server after the 30 seconds. You
can stop polling for an extensive amount of time and resume the polling at a
later time. Our client commonly only registers the cipher definitions and then
shuts

[2021-02-05 06:34] mwcw commented on #1123
@smuellerDD

We back off as the server directs.

MW

[2021-02-06 17:56] musterjunk opened #1124 "Documentation of Location of JSON Web Key Sets"
I am trying to find the endpoint to grab the key sets that can be used to validate my jwt. Could you guys add that end point to the documentation?

[2021-02-06 23:58] Kritner commented on #1124
Sorry I don't really understand what's being asked.

You can look at the jwt payload through a decoder such as through jwt.io
which will show what vector sets are claims on the jwt. If you're asking to
verify the jwt, we don't post the signing key.

On Sat, Feb 6, 2021, 12:57 PM musterjunk <notifications@github.com> wrote:

[2021-02-07 03:26] dghgit commented on #1123
It might be worth increasing the callback to 60 seconds, or more, if pinging the server is becoming an issue.

It's now Sunday afternoon here in Oz, usually the very quiet time. I do not even seem to be able to get back vectors for secure hash, which are probably, server-wise, one of the simplest things to generate. Vector set URLs come back straight away, but after that it's like my request has d

[2021-02-07 13:52] Kritner commented on #1123
Requests are processed in the order they're received, if there is a large queue of requests on demo, which there often is, it can take some time to fulfill the backlog.

We're always looking for ways to improve things, but some of the algorithms just take time to process.

[2021-02-07 15:56] #1094 closed

[2021-02-07 15:56] #1098 closed

[2021-02-07 22:08] dghgit commented on #1123
A happy coincidence then.

An observation.

In the "good old days" we used to download the CAVP test vectors from the NIST website and then get everything working from those. This mostly worked as what was produced by the testing tool was close enough to what they made available and the gaps in the ones they published was quite small so prior to trying to test with a lab people would get things mo

[2021-02-08 07:32] smuellerDD commented on #1123
Am Sonntag, dem 07.02.2021 um 14:08 -0800 schrieb dghgit:

As a thought: our we have downloaded vectors from each cipher type with a
common set of options for which we created the proper responses that we
checked with the server. That set of vectors will be refreshed occasionally.
But these vectors serve as regression test suite as well as a set of test
vectors we give to customers for trial.

Jus

[2021-02-08 08:01] dghgit commented on #1123
We also do this as well. It's when it's not appropriate that things start to suffer.

[2021-02-08 15:33] musterjunk commented on #1124
That is what I was wanted. The public half of the signing key to validate the token, assuming it was an asymmetric key. I guess you can close this then.

[2021-02-08 20:03] celic commented on #1123
Hi, there's a bit to unpack here so I'll start with a bit about our servers.

We have put a lot of work into optimizations across the server. The current state is much better than a year ago, and a year ago, much better than the year before that. During peak times we can receive thousands of vector set requests per hour. With that, work doesn't come into the server consistently through the day. We

[2021-02-08 20:30] celic commented on #1123
Would it also make sense for NIST to host "example" vector sets for the algorithms available to download on CSRC like we have in the past for CAVS files?

[2021-02-08 23:24] dghgit commented on #1123
It would probably help - they'd need to be exact replicas so people could validate their parsers and back end implementations, although as  @smuellerDD  touches on the number of permutations are quite large (not a defect obviously, but the kind of advantage that can cause trouble). My suggestion on just caching previous vectors is really an attempt to find a way of dealing with that. In "theory" i

[2021-02-08 23:30] celic commented on #1123
As a team, we are implementing some more automated metric tracking. I'll
provide some statistics tomorrow.

On Mon, Feb 8, 2021, 6:24 PM dghgit <notifications@github.com> wrote:

[2021-02-09 02:04] sreekanth-ys opened #1126 "Regarding KAS2 IFC VAL tests"
Working on KAS-IFC ACVP test vectors. Below are the observations.

1. For KAS1 IFC VAL tests, able to detect "fail"ed cases correctly as per expected results. For all "fail" cases, decrypted content  of "iutC" with Server private key is not matching with provided "Z". In other way provided "iutZ" and "z" contents also does not match.  The same is observed for all cases where "fail" is expected.

2

[2021-02-09 13:10] jbarnesweb commented on #1120
You are exactly right. Thank you!

[2021-02-09 13:10] #1120 closed

[2021-02-09 14:30] abkarcher commented on #1123
Hello,

Just chiming in to echo the sentiment that "example" vector sets, assuming they use the same endpoints, would be a very nice addition to help us test our client (and likely help reduce redundant server load!).

I often have vector sets saved locally to test against but am frequently adding new algorithms/features we didn't support yet, making adjustments to our netcode, etc. so testing aga

[2021-02-09 16:13] celic commented on #1123
According to our data, about 90% of requests come in against the Demo server rather than Prod. This is fine, but due to the importance of Prod we have more than 10% of our resources dedicated there. Since 1/1, we have 35,606 requests on Demo out of 41,233 total. For Demo this comes out to an average of 1,000 per day. Even with weekends included where there is a small drop-off in usage.

Demo appea

[2021-02-10 02:46] dghgit commented on #1123
It would probably also be useful to have some numbers on what algorithms were the most popular/CPU hogs (especially if answers are being generated up front where they can be). I'd guess SP 800-56A Rev3 is starting to make itself felt, but I know things like the various MCT tests can be very expensive (they certainly chew the CPU at this end).

[2021-02-10 03:24] celic commented on #1123
We are working on collecting that data. It's hard to use a vector set as a
metric when a pbkdf is exponentially more work than an aes-ctr.

On Tue, Feb 9, 2021, 9:47 PM dghgit <notifications@github.com> wrote:

[2021-02-11 16:55] Kritner commented on #1013
Thanks for your patience @Sv3n, been mostly trying to focus on bug fixes and performance improvements prior to taking on new features.  I did generate some sample vectors using a 256 bit key in (with the intention of using it against sha2-256), you're welcome to run them for testing purposes.

[prompt.json.txt](https://github.com/usnistgov/ACVP/files/5966867/prompt.json.txt) (actually a json file

[2021-02-11 22:11] mpacumen commented on #1100
Thanks everyone for your reply. It is working now.

[2021-02-11 22:11] #1100 closed

[2021-02-11 22:15] mpacumen commented on #1056
The latest vectors from the demo server work fine. I'm happy.

[2021-02-11 22:15] #1056 closed

[2021-02-11 22:47] mpacumen opened #1127 "x9.42 registration missing OID of wrapping algorithm"
https://pages.nist.gov/ACVP/draft-celi-acvp-kdf-ansi-x942.html#name-registration-example

I need to generate vectors for the three AES OIDs but not DES3. This is something that should be specified at registration time. Currently, the demo server only returns vectors with the DES3 OID.

[2021-02-12 12:35] jbarnesweb opened #1128 "RSA Decryption Primitive Question about validation from NIST Demo Server"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-celi-acvp-rsa.html#name-test-cases-for-rsa-decrypti

Note the description of a failing cipher text.
NOTE: A failing ciphertext is one such that the ciphertext is greater than the n the client provides

This isn't exactly what https://csrc.nist.gov/CSRC/media/Projects/Cryptographic-Algorithm-Validation-Program/documents/components/RSADPVS.pdf s

[2021-02-12 16:35] Sv3n commented on #1013
Thank you for the elaborate response! I will try to address the points you mentioned:

We will give this a try! We always test our implementation against internal references vectors as well, so I do not expect problems, but going though all the motions to check formatting and other consistency problems is valuable regardless.

Looking at this purely from my own perspective: in the same way there e

[2021-02-12 19:55] #1095 closed

[2021-02-12 19:59] Kritner commented on #1056
This change is on prod in release [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-02-12 20:00] Kritner commented on #1110
This change is on prod in release [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-02-12 20:00] #1110 closed

[2021-02-12 20:00] Kritner commented on #1119
This change is on prod in release [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

[2021-02-12 20:00] #1119 closed

[2021-02-13 06:00] nidhidamodaran commented on #1128
testPassed is boolean. Aim is to generate 10 failure cases - where decryption fails and 20 cases where decryption succeeds with  1 < cipherText < n - 1.

I noticed you have given plaintext with key pt, isn't it plainText ?

[2021-02-16 10:38] mwcw opened #1129 "Server Accepts HMAC-SHA-1 as Mac Method on ECC / FFC Ar3, KAS1-Party_V-confirmation"
Hi,

We have found that the server will accept HMAC-SHA-1 without error on the above algorithms as long as it is not the only Mac Method.

Being curious, we removed all other mac methods on the above and got variations on:

[code]

Depending on what was being requested.

It may be happening elsewhere but we are not in a position to investigate.

MW

[2021-02-16 17:02] jbarnesweb commented on #1128
It is indeed plainText.

The approach above doesn't work. If, for example, the last cipher text has a first byte of 0x00 and TotalFailures = 9, one will have a difficult time generating keys until n[0] is less than c[0].

To set up the correct number of failures, one can either do a big number comparison (preferred) or sort the resultsArray by cipher text and make the highest 10 minus any c==0 or

[2021-02-16 17:02] #1128 closed

[2021-02-17 16:54] celic commented on #1127
I couldn't find OIDs for other algorithms than TDES. What is the OID for AES?

[2021-02-17 16:56] celic commented on #1116
There is not at the moment. This would require an update on the server to create the new registration property and tie it in.

[2021-02-17 16:57] #1053 closed

[2021-02-17 16:57] celic commented on #1053
This was fixed a while ago, issue never closed out.

[2021-02-17 16:58] celic commented on #1116
Duplicate #1061

[2021-02-17 20:28] mpacumen commented on #1127
RFC 3565:

0609608648016503040105 aes-128-wrap
0609608648016503040119 aes-192-wrap
060960864801650304012D aes-256-wrap

[2021-02-18 01:58] AndrewHYang opened #1130 "AES-GCM/GMAC ivGen & ivGenMode support"
**Protocol Section**
AES-GCM/GMAC

https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.html

**Protocol Question**
Is it possible to make GCM and GMAC's ivGen supports both Internal and External IV simultaneously? And ivGenMode to select both 8.2.1 and 8.2.2?

[2021-02-19 04:45] gavishka opened #1131 "JSON validation error when submitting CMAC-TDES capabilities"
Whenever I try to create test sessions with a set of capabilities for CMAC-TDES, following error message appears for "keyingOption" field, which is supposed to be an integer value (1, 2) according to the documentation.
[https://pages.nist.gov/ACVP/draft-fussell-acvp-mac.html#section-9.1](https://pages.nist.gov/ACVP/draft-fussell-acvp-mac.html#section-9.1)
Even though I have an integer value either

[2021-02-19 04:57] abkarcher commented on #1131
Hello,

From what I can tell of how we have it implemented, the server currently expects keyingOption to be an array with the keying value integer inside it. Hope this helps in the meantime.

Andrew

[2021-02-19 13:41] AlexThurston commented on #1131
The documentation should likely be updated to match

![image](https://user-images.githubusercontent.com/3537360/108511698-43011900-728e-11eb-8af9-6953efe56b1e.png)

[2021-02-22 12:24] Kritner commented on #1130
I *believe* the intention of the "internal iv generation" capability is for IUTs that ***only*** support internal IV generation from an encryption perspective - situations where they can't utilize our generated IV from our prompt files.

Perhaps this would make some sense to change in the next testing revision to GCM/GMAC, but as it's a client breaking change I'm not sure if makes sense to do at t

[2021-02-22 14:14] #1131 closed

[2021-02-22 15:20] Kritner commented on #1126
Do you have a vector set and test cases within that I can take a look at to see why they're marked as "should be failures" on our end?

[2021-02-22 15:50] sreekanth-ys commented on #1126
Thanks Kritner
Test vector file : https://sreekanth-ys.github.io/ACVP_KAS_IFC_test_vectors/KAS-IFC-SSC.474086.req.json
Expected response: https://sreekanth-ys.github.io/ACVP_KAS_IFC_test_vectors/KAS-IFC-SSC.474086.expected.json

In above test vectors for KAS2 VAL tcId #24 and #26 expected is "false", however unable to find any corrupted keys or changed Z values.

Please let me know if anything req

[2021-02-22 19:08] gavishka opened #1133 "JSON validation error for ACVP-AES-KWP registration"
Have been trying to register capabilities for ACVP-AES-KWP, I get a JSON Validation error saying,
`ACVP-AES-KWP-1.0: PtLen Domain was not provided.`

I went through the documentation as well to check about this field `PtLen Domain` the error message referring to, couldn't find it anywhere. [https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.html#name-block-cipher-algorithm-capa](https://pages.n

[2021-02-22 19:42] Kritner commented on #1133
Looks like it's `payloadLen`, is that missing from your registration? i can get it updated on our end to reflect the actual property name.

[2021-02-22 20:03] gavishka commented on #1133
`payloadLen` is not included in my registration. Documentation doesn't have it as well. If it is required, let me know once it's updated on your end.
![kwp](https://user-images.githubusercontent.com/31833056/108763179-11eb4780-751f-11eb-93fa-b3b86e8bdbb2.PNG)

[2021-02-23 09:28] kwong-cygnacom opened #1134 "Table columns misaligned in ACVP SHA3 and SHAKE JSON Specification"
Table 3's columns are misaligned.

[2021-02-23 11:57] Kritner commented on #1133
The `payloadLen` is required, there's no code changes needed to be able to submit it in a registration currently - the issue in the code is around the *label* that is indicating `ptLen` is missing, when it should state that it's `payloadLen` that's missing.  The documentation could additionally use an update it looks like to reflect the required `payloadLen`.

[2021-02-23 13:27] #1121 closed

[2021-02-23 13:37] Kritner commented on #1121
I only found one instance of table misalignment, so hopefully that was all you found.  Feel free to re-open and update if I missed something.

[2021-02-24 15:41] QuentinGouchet opened #1136 "General error requesting ctrDRBG vector"
I am receiving this content in a test vector-request.json when requesting vectors for testID 5179 and vsID 49701:

[
 {
   "acvVersion": "1.0"
 },
 {
   "error": "General exception. Contact service provider."
 }
]

I attach the register information for your convenience:

[
  {
    "acvVersion":"1.0"
  },
  {
    "isSample":false,
    "operation":"register",
    "certificateRequest":"no",
    "debu

[2021-02-24 18:04] Kritner commented on #1136
@QuentinGouchet I'm assuming the title meant to actually state an issue with KTS, not counter drbg? I don't see a counter drbg in that registration.

Assuming this is an issue with KTS, it is most likely the same issue as the one for https://github.com/usnistgov/ACVP-Server/issues/81.  I'll have a fix in for it in the next release,

In the meantime, you could either remove that particular vector s

[2021-02-24 18:04] celic commented on #1136
Duplicate of https://github.com/usnistgov/ACVP-Server/issues/81

[2021-02-24 18:04] #1136 closed

[2021-02-24 18:39] QuentinGouchet commented on #1136
hi Russ,

Oh yes - not ctrDRBG my bad. I will then close this issue if a fix is
available already!

Quentin Gouchet
-----------------------------

On Wed, Feb 24, 2021 at 12:04 PM Russ Hammett <notifications@github.com>
wrote:

[2021-02-25 15:56] QuentinGouchet opened #1137 "AES-CTR providing IV when external IV is selected"
I request vectors for AES-CTR both for external and internal IVs as follow:

[
 {
   "acvVersion":"1.0"
 },
 {
   "isSample":false,
   "operation":"register",
   "certificateRequest":"no",
   "debugRequest":"yes",
   "production":"no",
   "encryptAtRest":"yes",
   "algorithms":[
     {
       "revision":"1.0",
       "algorithm":"ACVP-AES-CTR",
       "direction":[
         "encrypt",
         "de

[2021-02-26 15:18] Kritner commented on #1137
@QuentinGouchet `ctrSource` isn't a valid property for use under AES-CTR testing with ACVP, so making changes to that value would have no impact on the vector sets generated.

It looks like `ctrSource` was a property from the CAVS days, when there was no actual testing against counter mode; I did not actually realize this until digging into it just now. We don't currently have testing that support

[2021-02-26 18:36] QuentinGouchet commented on #1137
Thanks Russ good to know, we will update our side to use the RFC CTR
testing then!

On Fri, Feb 26, 2021, 09:18 Russ Hammett <notifications@github.com> wrote:

[2021-02-26 19:04] Kritner commented on #1129
This change is on demo in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-02-26 19:04] Kritner commented on #1126
Our side wasn't properly communicating the mangled test case data for KAS2 for this failure reason. The fix is on demo in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-02-26 19:05] Kritner commented on #1133
The fix to change the property name `ptLen` -> `payloadLen` is on demo in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-02-27 02:56] gavishka commented on #1133
Thank you

[2021-03-01 20:16] rruss-ldos opened #1138 "X9.63 KDF Spec Page Inaccuracies"
The example registration shows lowercase hashing algorithms. ACVTS appears to be case sensitive for these.

Section 7.3.1 shows valid hash functions as having the SHA- prefix. The actual valid prefixes are SHA2-.

[2021-03-02 05:00] sreekanth-ys commented on #1126
Thanks Kritner, Can you please share ETA on when till fix will go in production server

[2021-03-03 18:02] Kritner commented on #1126
Hopefully early next week.  Were you able to confirm this change from your perspective?

[2021-03-04 06:59] smuellerDD opened #1139 "OE definition: Why is an OE always required?"
**Protocol Section**
certificate request during publication

**Protocol Question**
When posting a certificate request, the client has to provide a moduleUrl and an oeUrl.

Now, when omitting the oeUrl, the server returns an error. My question now is why is it always required to have an oeUrl. Assume you have a dedicated device that only does crypto which is to be validated. Now, that device does n

[2021-03-08 19:49] Kritner commented on #1129
This change is on prod in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-03-08 19:49] #1129 closed

[2021-03-08 19:50] Kritner commented on #1126
This change is on prod in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-03-08 19:50] #1126 closed

[2021-03-08 19:50] Kritner commented on #1133
This change is on prod in release [v1.1.0.16](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.16)

[2021-03-08 19:50] #1133 closed

[2021-03-15 02:39] mwcw opened #1143 "RSA-PSS FIPS 186-5, hash algs SHAKE-128 or 256"
Hi,

We are trying to fetch vectors for RSA-RSS FIPS 186-5, using the attached capabilities file and we are getting the following error:

[code]

From FIPS 186-5 "(b) For RSASSA-PSS, either an approved hash function or XOF (extendable-output function) shall be used as the function “Hash” in Sections 9.1.1 and 9.1.2 of RFC 8017. Approved XOFs are SHAKE128 and SHAKE256, which are specified in FIPS 2

[2021-03-15 21:00] celic commented on #1143
For right now, SHAKE is allowed as a masking function and not as a hash function. The reason doesn't directly relate to PSS though. PKCSv1.15 is the other signature scheme allowed there, and it requires OIDs for each hash function in order to produce the correct result. The OIDs do not exist for anything newer than SHA2.

We can update the code to allow SHA3 and SHAKE for PSS while keeping it disa

[2021-03-15 21:02] celic commented on #1134
This was caused by an error in table 2. This has been fixed, and should be built/deployed shortly. Please close the issue when you can verify.

[2021-03-15 21:05] celic commented on #1139
You are correct. An OE is not always applicable. I've been spending some time trying to figure out the larger OE problem the CAVP has been having. Sometimes descriptions don't cover the information the CMVP or other bodies are looking for, and sometimes very little or no information is available like in a dedicated device. For now, the process is what it is, but we are going to tackle this soon.

[2021-03-16 06:54] smuellerDD commented on #1139
If you say that there is work done in this area, I see no issue to keep this report open as it should just be a hint to you.

[2021-03-16 06:54] #1139 closed

[2021-03-16 16:48] kwong-cygnacom commented on #1134
I checked a moment ago and did not see the fix. It is still showing "performLargeDataTest" in the algorithm column.

[2021-03-16 16:49] #1062 closed

[2021-03-16 16:50] celic commented on #1134
Let me double check the build succeeded.

On Tue, Mar 16, 2021, 12:48 PM Kwok ***@***.***> wrote:

[2021-03-16 21:27] QuentinGouchet opened #1144 "Vector verdict is not received"
hi,

It seems like testID 5173 does not send the verdict back. After contacting Robert Staples, he mentioned that the verdict was passing. Yet our client constantly re-tries to fetch the verdict without success nor error indicating some kind of failure.

The same seems to happen for those testIDs/vsIDs:

5168/49527
5288/all vsIDs under it
5242/50089
5173/all vsIDs under it

[2021-03-17 11:34] Kritner commented on #1144
I'm not really sure what endpoint you're having problems with, or what the problem actually is.  All 4 of the test sessions listed above have already been published, so I'm not sure what information you're trying to pull from them.

[2021-03-17 14:35] QuentinGouchet commented on #1144
hi Russ,

Thanks for the response. I see; our client. was showing that the verdict
was not obtained and I wasn't sure if it had passed. I guess the issue can
be closed, yet it is unclear to me why I cannot re-fetch the verdict.

Quentin Gouchet
-----------------------------

On Wed, Mar 17, 2021 at 6:34 AM Russ Hammett ***@***.***>
wrote:

[2021-03-17 15:25] smuellerDD commented on #1144
Am Mittwoch, dem 17.03.2021 um 07:36 -0700 schrieb Q. Gouchet:

Can you please post the endpoint that is invoked by the client? Re-fetching a
verdict should always be possible. And I verified that indeed that works.

Thus, we should let Russ know the endpoint to find out why the server does not
provide data.

Thanks
Stephan

[2021-03-17 15:53] QuentinGouchet commented on #1144
hi Russ,

Here is the endpoint I was trying to get verdicts from:

testID URL: https://acvts.nist.gov:443/acvp/v1/testSessions/5242

I was not able to fetch verdicts or resubmit results (which I assume is
because it is already passed but I cannot see it on my end).

Quentin Gouchet
-----------------------------

On Wed, Mar 17, 2021 at 10:25 AM smuellerDD ***@***.***>
wrote:

[2021-03-17 15:54] celic commented on #1134
The build did not run and doesn't say why. I'll get this going.

[2021-03-17 16:05] Kritner commented on #1144
What is the response (and status code) you're getting?  Are you performing that get using a JWT that has claims to that test session? We only will return information pertaining to a test session if you have the appropriate claims to it.

[2021-03-17 16:07] smuellerDD commented on #1144
When calling a PUT on /acvp/v1/testSessions/5242, the server responds:

[code]

When re-downloading the verdict the server responds:

[code]

This looks like it is affected by the report https://github.com/usnistgov/ACVP-Server/issues/63

[2021-03-17 16:22] Kritner commented on #1144
The test session is *already certified*, so it's technically not in a "passed" state from our perspective, but yes, a better response may be in order here.

I just updated the issue you linked asking for clarification around whether or not that test session was already certified, because if so then yes, they are both the same issue and I can take care of that in the next release.

Are these update

[2021-03-17 16:49] smuellerDD commented on #1144
I am helping Quentin - this particular issue is covered. And thank you for your hints - the issue was on our side.

But for issue #63 - this is a generic issue that I discovered when trying to "extend" the lifetime of a certification: when re-requesting the verdict before the testsession is published, I get the mentioned error.

[2021-03-17 17:31] #1144 closed

[2021-03-17 17:40] celic commented on #1134
This is getting built now. Should be up on pages.nist.gov within 15 minutes.

[2021-03-17 19:20] #1134 closed

[2021-03-18 15:44] mpacumen commented on #1127
Has this change been pushed to the demo server yet?

[2021-03-18 16:00] celic commented on #1127
Not yet. Other fixes took priority recently.

On Thu, Mar 18, 2021, 11:44 AM mpacumen ***@***.***> wrote:

[2021-03-22 15:05] celic commented on #1127
This will be in the next release with some changes in the registration to account for selecting which OIDs to use.

[2021-03-24 16:52] #1138 closed

[2021-03-24 17:10] celic commented on #1138
Due to some changes in our organizational policy, our automatic builds have been disabled. It might be a little bit before this change is reflected on https://pages.nist.gov/ACVP.

[2021-03-25 14:20] #1137 closed

[2021-03-25 14:21] #1124 closed

[2021-03-30 18:45] kwong-cygnacom opened #1148 "CMAC-AES's macLen min value does not match ACVP Message Authentication Algorithm JSON Specification"
Table 4 indicates macLen | The supported mac sizes | Domain | Min: 32, Max: 128, but Demo accepts min value of 8.

Please update the specification in the next update.

[2021-03-31 17:01] kettro opened #1149 "KAS-ECC-SSC ECDSA prerequisites"
Regarding the KAS-SSC-ECC tests ([here](https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ssc-ecc.html)), It lists a conditional requirement on ECDSA, stating:

Does this apply only to situations where the IUT uses the Ephemeral KAS schemes (eg, not StaticUnified)? If not, then is there a situation where the condition is _not_ satisfied?

[2021-04-07 13:29] AlexThurston opened #1151 "KAS ECC SP80056-AR3 fixedDataOrder for twoStepKDF when kdfMode is counter"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#twostepcapcap

[code]

**Protocol Question**
When trying to register this, I am met with the error
[code]

However, in the documentation, it doesn't mention anything about what `fixedDataOrder`'s are valid with any given `kdfMode`

[2021-04-08 17:40] mpacumen opened #1152 "KMAC customization string length needs a limit"
KMAC customization string length seems to be missing from the capabilities registration.

[2021-04-12 15:25] #1068 closed

[2021-04-12 20:03] livebe01 commented on #1152
Hi @mpacumen, can you provide more information/context?

[2021-04-12 21:06] mpacumen commented on #1152
An unbounded customization string length is not easy for any IUT to deal with. Currently the demo server appears to be returning a max length of 128. That's reasonably small, but can we be sure we won't see 65536 in the future. The max needs to be documented in the spec or else be configurable.

[2021-04-13 13:32] livebe01 commented on #1152
Great, thanks! We'll take a look and see what we can do about adding that info.

[2021-04-13 20:16] livebe01 commented on #1148
We'll update the macLen Min value to 8 as soon as we can. Thank you!

[2021-04-13 22:21] kettro commented on #1149
ping?

[2021-04-13 23:45] Kritner commented on #1149
It would seem to make sense only in the context of *when keys are used as a part of the generation*.  In the case of a static key pair, the key is not being generated as a part of the negotiation, it already existed.

[2021-04-14 17:54] mboquard opened #1153 "KTS-IFC Provides Invalid Prime Values for 6k RSA Keys"
## Summary
The provided 6,144 bit RSA Private Key in CRT format fails the SP800-56Br2 key-pair validation test on step 5.a where the prime fails the lower bounds check (I would type it out but GitHub's markdown parser does not appear to support math symbols like square-root).

### JSON Registration for KTS-IFC

Vector Set:
`/acvp/v1/testSessions/173006/vectorSets/532067`

Note that I removed the p

[2021-04-15 19:45] mpacumen commented on #1127
Any estimate for when the next release will happen?

[2021-04-15 19:58] celic commented on #1127
Within the next couple of days. It's a large one for us.

On Thu, Apr 15, 2021, 3:45 PM mpacumen ***@***.***> wrote:

[2021-04-16 15:28] Kritner commented on #1127
This change is on demo in release [v1.1.0.17](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17)

[2021-04-16 15:29] Kritner commented on #1153
This change is on demo in release [v1.1.0.17](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17)

[2021-04-16 18:47] #1114 closed

[2021-04-19 16:45] bfussell opened #1156 "KAS-ECC CDH registration fails"
[{"acvVersion":"1.0"},{"algorithms":[{
                                 "algorithm":"KAS-ECC",
                                 "revision":"Sp800-56Ar3",
                                 "mode":"CDH-Component",
                                 "prereqVals":[{"algorithm":"ECDSA","valValue":"same"}],
                                "function":["keyPairGen"],
                                 "curve":

[2021-04-19 17:19] Kritner commented on #1156
Thanks @bfussell, can you give it another go?

[2021-04-19 17:33] bfussell commented on #1156
Success ! Thanks for the quick response.

[2021-04-19 17:47] #1156 closed

[2021-04-21 11:36] Kritner commented on #1156
I believe we were going to try for this weekend if nothing of issue is found with the current release on demo.

[2021-04-21 18:40] bfussell opened #1157 "Change Letter Procedure Steps"
General Question regarding a change letter. If it has been discussed I couldn't locate it in the spec or issues.
For a change letter which covers new tests for algorithm support for SP800-56Ar3 do we run the new tests and then PUT the new testSession information using the previous module and OE ?  Or are their alternatives ?

I'm concerned that the module/OE may be updated but the soon to be histo

[2021-04-23 22:26] mpacumen commented on #1127
The spec does not say anything about an OID field in the registration. Does the server expect a hex value or something else?

[2021-04-27 12:31] #1152 closed

[2021-04-28 15:58] Kritner commented on #1144
This change is on prod as of release [v1.1.0.17](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17)

[2021-04-28 16:03] Kritner commented on #1127
This change is on prod as of release [v1.1.0.17](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17)

based on @mpacumen's comment https://github.com/usnistgov/ACVP/issues/1127#issuecomment-825965225, still need to do some specification updates as it relates to this change.

The registration now specifies the OIDs to use through a property `oid` in the root of the registration, which

[2021-04-28 16:04] Kritner commented on #1153
This change is on prod as of release [v1.1.0.17](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17)

[2021-04-28 16:04] #1153 closed

[2021-04-28 16:59] #1148 closed

[2021-04-28 18:00] #1127 closed

[2021-04-28 18:14] AlexThurston opened #1162 "Unable to use `nonceLen` of 104 for KAS ECC"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-fussell-acvp-kas-ecc.html#section-7.10

**Protocol Question**
The section for nonceLen is qualified as:
![image](https://user-images.githubusercontent.com/3537360/116452097-55b64200-a82b-11eb-881c-52ff4358fe99.png)

This - to me - means that valid values are: 56, 64, 72, 80, 88, 96, 104

However, registrations using a `nonceLen` of 104 failed

[2021-04-29 19:34] livebe01 commented on #1111
This looks like a documentation error. Valid values for radix should be 2-64. Thanks for pointing this out!

[2021-04-29 19:54] #1111 closed

[2021-04-30 16:37] #1049 closed

[2021-05-02 16:46] rnunez83 opened #1164 "AES-CCM with Taglen 104 and 120 fail to generate"
https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.txt Table 6 lists the following taglen possible for AES-CCM: {32, 64, 96, 104, 112, 120, 128}

When I attempt to request demo vectors from server using taglen of 104 or 120, I see the following error:
ACVPProxy (11:45:54) () Verbose [lib/common/network_helper.c:_acvp_net_op:85]: Process following server response: [
  {
    "acvVersion": "1.0"

[2021-05-04 17:24] EH-Acumen opened #1166 "FIPS 186-4 RSA KeyGen with fixed exponent"
Test vectors for a module implementing FIPS 186-4 RSA KeyGen B.3.6 with a fixed exponent were generated.  The fixedPubExp is set to "FFFFFFFF".
The request files generated contain the value "e": "010001".  I believe this is a bug on the server side.  The value "e": "FFFFFFFF" should have been used instead.
See test Session "/acvp/v1/testSessions/176102/vectorSets/549760" for an example of this.

[2021-05-04 18:24] Kritner commented on #1166
Thanks @EH-Acumen, will get a correction out to fix this shortly.

[2021-05-04 20:20] EdSmith-Viasat opened #1167 "KAS KDF testing from SP800-56Cr1"
UL gets the following error when they try to generate test vectors for the SP800-56Cr1 One-Step KDF:
“KAS-KDF-OneStep-Sp800-56Cr1: Provided 'l' value of 256 does not meet the minimum l value of 512 for the function SHA2_D512.".
The algorithm in Section 4.1 of SP800-56Cr1 (and SP800-56Cr2) is:
1.	If L > 0, then set reps = CEILING(L / H_outputBits); otherwise, output an error indicator and exit this

[2021-05-05 16:55] EH-Acumen opened #1168 "FIPS 186-4 RSA KeyGen failure output"
When submitting responses on the Demo server to FIPS 186-4 RSA KeyGen B.3.6 with a random public exponent, the following failing output is received:
**529809: Not passing
        Test case results:
        1: XP1 did not contain enough bits.  Expected 167, got 0.; XP2 did not contain enough bits.  Expected 251, got 0.; XQ1 did not contain enough bits.  Expected 183, got 0.; XQ2 did not contain eno

[2021-05-05 17:45] Kritner commented on #1168
We have a hotfix in the works for a few other RSA related things, this will be taken care with that change as well.

[2021-05-05 21:11] awnissen commented on #1168
When is the hotfix planned for deployment?  I need to set expectations and a schedule.

[2021-05-05 22:24] jarnold01 commented on #1168
Hi @EH-Acumen  - FYI, I just deployed the hotfix to Demo a few moments ago.

[2021-05-06 09:25] Kritner commented on #1166
This is on demo in release [v1.1.0.17-1](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17-1).

[2021-05-06 14:00] dennismomy opened #1169 "General Exception Contact service provider returned while trying to retrieve vectors"
I have demo session 176767 .  All vectors are generated except for 553248 and 553276.

When trying to retrieve this vectors individually the servers responds with the following error.
[
  {
    "acvVersion": "1.0"
  },
  {
    "error": "General exception. Contact service provider."
  }
]

[2021-05-06 15:10] EH-Acumen commented on #1168
@jarnold01 That is fantastic! The responses are now passing.  When can we expect a fix on Prod?

[2021-05-06 16:18] Kritner commented on #1169
Looks like we're not evaluating some of the aspects of the registration that we should.  The nesting in some of the registration around KC properties is incorrect:

![image](https://user-images.githubusercontent.com/8814983/117331443-c29d8d80-ae64-11eb-8a91-c04d507efcfc.png)

The "KC" related properties of `kcRole`, `kcType`, and `nonceType` should be nested under an object `kcOption`.

I don't kn

[2021-05-06 17:51] dennismomy commented on #1169
There seems to be 2 sessions experiencing this issue.  Would you be able to tell me what the other issue is?
Thank you

[2021-05-06 17:59] jarnold01 commented on #1168
@EH-Acumen  In about an hour from now.

[2021-05-06 19:50] Kritner commented on #1169
They're both the same issue with the `kcOption` IIRC.  I'm not around for
the remainder of the day but I'll try to check and confirm tomorrow

On Thu, May 6, 2021 at 1:52 PM dennismomy ***@***.***> wrote:

--
Russell Hammett ***@***.***>
(C) 410-504-9442

[2021-05-07 09:23] Kritner commented on #1166
This change is on production in release [v1.1.0.17-1](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17-1)

[2021-05-07 09:23] #1166 closed

[2021-05-07 09:23] Kritner commented on #1168
This change is on production in release [v1.1.0.17-1](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.17-1)

[2021-05-07 09:23] #1168 closed

[2021-05-07 13:40] jlramage opened #1170 "KTS IFC KTS-OAEP-basic - Hash Alg SHA-1 not supported"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ifc.html

**Protocol Question**
Why is SHA-1 not a supported hash algorithm for OAEP basic? Based on SPs 800-56B and 800-131, the use SHA-1 appears to be approved.
Thanks, Jim.

[2021-05-07 17:16] dennismomy opened #1171 "KAS-ECC Fixed Info Pattern question"
I'm fielding this question on behalf of one of our clients in regards to KAS-ECC and fixedInfoPattern.
"Our engineers noticed that after vPartyInfo and uPartyInfo, we have to append the ephemeral key. Is there a way to not have to do this?"

[2021-05-07 20:05] mtdownz opened #1172 "SP 800-56C OneStep KDF Question - multiple AuxFunctions with varying inputs and outputs"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-kdf-onestep.html#name-fixedinfopatternconstructio

**Protocol Question**
1. For 800-56C One Step KDF implementation that supports a domain of values for the "auxFunctions" field e.g. HMAC-SHA-256, HMAC-SHA-512, etc. How should a request be sent when the fixedinfopattern construction only allows for a single value for 'l' ( len

[2021-05-10 13:12] dennismomy opened #1173 "KDF component snmp test vectors"
I have a questions regarding KDF  component SNMP.   The capabilities file I am using has the passwordLength set to 64 and 128.
The tests show an 8 byte password.  Is this the expected behavior.
  "tests": [
     {
      "tcId": 1,
      "password": "TBvrrAHT"
     },

[2021-05-10 17:51] livebe01 commented on #1109
Thank you for bringing this to our attention. Yes, when counterLength=0, the fixedDataOrder value of "none" is the only valid option. We will add a note to the spec to address this. I'll also look into adding a validation check for this scenario.

[2021-05-10 18:11] livebe01 commented on #1173
Hi @dennismomy, can you provide test session and vector set numbers?

[2021-05-11 12:26] dennismomy commented on #1173
This issue is on my end..  I was assuming that the passwordLength in the capabilities was in bytes but its in bits.

[2021-05-11 12:26] #1173 closed

[2021-05-12 14:32] dmomy opened #1175 "ephemeralPublicIut value in responses (KAS-FFC) 56aR3"
I am submitting this question on the behalf of a client.
While processing processing results for KAS-FFC 56aR3 vectors I noticed that on the failed tests that the ephemeralPublicIut values in the submitted results have lowercase characters.   Does the ACVP server expect uppercase.
session id is: 177105(demo)

[2021-05-12 15:13] #1175 closed

[2021-05-12 15:29] dmomy commented on #1175
Solved by replacing characters.

[2021-05-13 13:34] dmomy opened #1176 "Unable to submit results when vector set has been archived"
I have sessions that have expired  which I have issued a get to update the expiration date on the session.  When trying to submit responses for the vector set I get the following error
     "Validation error(s) on JSON payload.",
      "Unable to submit results when vector set has been archived"
 The sessions in question are:
167700,   167702 167705 167711 169192 167715  167731  167694 177253 1772

[2021-05-14 15:29] livebe01 commented on #1164
Hi @rnunez83, the issue appears to be a typo in the spec. Per SP 800-38C, the Taglen should be "any integer multiple of 16 between 32 and 128, inclusive." In your case, ACVTS is correctly rejecting values of 104 and 120 as they are not multiples of 16. We'll update the spec for the correct values of {32, 48, 64, 80, 96, 112, 128} as soon as we get a chance.

I noticed some addition typos related t

[2021-05-14 16:43] shaneshaffer commented on #1176
Test Sessions 177253-177256 are irrelevant, as they are only about a week old.
All the other test sessions were created in March, and you didn't touch any of them until yesterday, when you touched 167700. They all expired 30 days after the day they were last touched, which was the day they were created for most, and a few days later for the others.
Expired test sessions cannot be resurrected by at

[2021-05-14 17:05] #1164 closed

[2021-05-14 17:06] rnunez83 commented on #1164
thanks for the explanation.

[2021-05-14 19:42] livebe01 commented on #1167
Hi @EdSmith-Viasat, sorry for the slow reply. The minimum L value shouldn't be limited to 512-bits. We'll look into this.

[2021-05-14 19:45] livebe01 commented on #1167
( it seems like the proper bound should be minimum 112 bits)

[2021-05-14 20:17] EdSmith-Viasat opened #1177 "SP800-56Cr1 KAS KDF doesn't allow fixed length sized for "partyId" or "algorithmId" although the standard doesn't prohibit using fixed sizes"
The SP800-56Cr1/2 standard seems to allow for fixed sized "partyId" and "algorithmId".  It seems fixed sized "partyId" and "algorithmId" would be typical for most implementations.

Please clarify if we need to modify our implementation or if the ACVP server and the definition of the JSON request and response files needs to be undated to allow for fixed sized "partyId" and "algorithmId".

[2021-05-18 16:24] Kritner commented on #1177
@EdSmith-Viasat I don't really understand what's being asked here... `partyIds` are randomly provided in the vector set to be plugged in as a portion of your fixed info construction for the KDF, and `algorithmId`s are only provided if the fixed info pattern specifies they can be used.

We test the KDF implementation by requiring the inclusion of `uPartyInfo` and `vPartyInfo` which are composed of

[2021-05-18 18:20] Kritner commented on #1172
The intention for `l` was to match the largest `l` value that the IUT can produce, under the assumption that the IUT's implementation of the KDF can "inner loop" until the desired length of keying material has been produced.  Since this KDF testing is supposed to be suitable for any number of KAS SSC domain parameters, my impression was the `l` value wouldn't need to support anything more than a s

[2021-05-18 18:54] Kritner commented on #1171
Any ephemeral data contributed in the scheme - be it through an ephemeral key, or ephemeral nonce - is currently required for testing.

https://github.com/usnistgov/ACVP/issues/1023

Has more on this conversation, but I bring some of this into an internal conversation to get it on our radar for a potential update.

[2021-05-18 20:11] EdSmith-Viasat commented on #1177
Our implementation of the One-Step KDF takes as input a 5 byte Algorithm ID, a 16 byte PartyU ID, and a 16 byte PartyV ID.  We believe our implementation using fixed length values to create the "FixedInfo" field meets the requirements in SP 800-56C, in Section 5.8.2.1 of SP 800-56A, and in Section 5.5.2.1 of SP 800-56B.

Is there any way to get test vectors to test our implementation?

[2021-05-18 20:52] swkeypair opened #1178 "Clarify KBKDF fixedData"
The precise meaning of _fixedData_ for the KBKDF in counter mode is hard to pin down in the specifications at https://pages.nist.gov/ACVP/draft-celi-acvp-kbkdf.html.

SP 800-108 (page 12) suggests fixedData is inclusive of Length L:
 _In the following key derivation functions, the fixed input data is a concatenation of a Label, a separation indicator 0x00, the Context, and [L]2_.

However, the exa

[2021-05-19 14:25] Kritner commented on #1013
Apologies on the delay again, and thank you for the response that was quite insightful.  I feel like the comments in this issue can likely apply to a few of the other issues that have come in recently.  Overridable defaults on properties that we don't currently even "take in" as properties, is likely something we'll have to cover at some point in the future.

That being said, I plan on changing th

[2021-05-19 16:46] swkeypair opened #1179 "Key wrap test of direction and cipher combinations"
[SP 800-38F defines KW-AE as "encrypt" using the forward cipher](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-38F.pdf#page=22), and defines unwrapping KW-AD as "decrypt" using the inverse cipher.  However, in ATF request vectors seemingly inappropriate combinations of "direction" and "kwCipher" are tested:

Is this the correct interpretation of the standard?

For example, why

[2021-05-20 17:20] mtdownz commented on #992
Chris,
We are still seeing this problem in the RSA KeyGen vectors:

                {
                    "tcId": 30,
                    "bitlens": [
                        1336,
                        178,
                        263,
                        888
                    ],
                    "xP": "B7646D26BB2F7CBCCCB69DAC51D68DDB2C3D419EED7B5A540C5AB99FC73CA028E899E18F70F657C28E2

[2021-05-20 17:24] celic commented on #992
When did you request this vector set?

[2021-05-20 18:10] #992 closed

[2021-05-24 14:58] Kritner commented on #1179
From https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-38F.pdf#page=16

![image](https://user-images.githubusercontent.com/8814983/119363431-cc542d00-bc7b-11eb-8b75-79fa3e0fd15c.png)

The underlying cipher of the key wrapping algorithm can be "cipher" or "inverse", then there is the `W` (wrap / auth encrypt) and  `W1` (unwrap / auth decrypt).

This gives several "combinations" of p

[2021-05-24 15:46] swkeypair commented on #1179
OK - please confirm or correct:
For an implementation that supports key wrap (using the AES encrypt primitive) and unwrap (using the AES decrypt primitive), then the corresponding registration parameters (independent of other selections) would be:
"algorithm": "ACVP-AES-KW", "revision": "1.0",
            "direction": ["encrypt", "decrypt"],
            "kwCipher": ["cipher"],
...

Thank you

[2021-05-24 16:40] Kritner commented on #1179
that's correct

[2021-05-24 16:54] swkeypair commented on #1179
OK thank you.
IMHO, this could be made clearer in the ACVP specification and perhaps avoid some confusion.
Then again, maybe it is just me.

OK to close - thank you for your help.

[2021-05-26 14:50] EdSmith-Viasat commented on #1013
@Kritner : Your proposed solution of changing the default values keyIn lengths to match the output length of their respective "aux function" (the standard uses the term "PRF") doesn't match the standard and wouldn't be the correct solution for all implementations.

The SP 800-108 standard makes no mention of the size of KeyIn, but does define the PRF as an approved HMAC or CMAC.  The output length

[2021-05-26 17:54] celic commented on #822
Minor update to this issue for completeness... `/health` was added and does not require a JWT to access. `/algorithms` was also modified in 2020 to not require a JWT to access. Both of these should provide a full server status to users.

[2021-05-26 20:14] livebe01 commented on #1013
@EdSmith-Viasat, curious about your implementation. If you're using HMAC-SHA-384 with a 256-bit key and an L of 384, you now need to use a 384-bit key to get a 256-bit security strength. Can you explain/comment on why an implementor would do this? If you have time to share, great. If not, no problem. Just trying to learn.

[2021-05-26 20:30] EdSmith-Viasat commented on #1013
@livebe01, we use an L of 256.  According to table 3 in SP 800-56 part 1, rev 5, an HMAC-SHA-384 algorithm with a 256 bit Key Derivation Key (KDK, or keyIn) can produce a derived key at the same security strength as the input KDK.

Please correct me if I'm wrong with my interpretation of SP 800-56.

[2021-05-26 20:40] dmomy opened #1180 "validating json without creating a session"
I am wondering if there is a way to validate the algorithm capabilities on the acvp demo server without generating a session.    I'm running into situations where I want to make sure the capabilities file conforms to the standard but don't yet want to make a sesion.

[2021-05-27 14:41] dmomy opened #1181 "rsa keygen question"
For B.3.6 RSA key gen:
(1)	Is xP1 in the test vectors corresponding to XP1 in B.3.6 step 4.1?
(2)	Or is it supposed to be the probable prime p1 as in B.3.6. step 4.2?

The ACVP spec says (2), but we suspect it is (1)

[2021-05-27 17:49] livebe01 commented on #1013
Sorry @EdSmith-Viasat, can you clarify the SP reference? Are you referring to 800-56C, Rev2, table 3?

[2021-05-27 18:09] EdSmith-Viasat commented on #1013
@livebe01, My mistake, I meant to refer to table 3 in SP 800-57 part 1, rev 5.

[2021-05-27 20:18] livebe01 commented on #1013
Okay, thanks. Tracking now.

Table 3 in SP 800-57 part 1, rev 5 shows that SHA-384 for key derivation/HMAC/etc. will provide >= 256 bits of security strength. There's a note above the table that reads, "Note that in the case of HMAC and KMAC, which require keys, the estimated security strength assumes that the length and entropy used to generate the key are at least equal to the security strength.

[2021-05-27 21:19] EdSmith-Viasat commented on #1013
@livebe01, I follow your reasoning.

Based on SP 800-108, section 7.1, the security strength of the derived key is: [(256/384) * e] = 0.67e ; where 'e' is the entropy per bit of the DRBG used to produce the key derivation key.
If the DRBG produces bits with 1 bit of entropy, then the resulting security strength of the key will be 170 bits.

[2021-05-28 13:08] Kritner commented on #1013
@EdSmith-Viasat introduced a `customKeyInLength` that be used in the `capability` object for KDF, this will allow for the overriding of our default keyInLength which currently matches the output length of the PRF (for hashes only - since AES/TDES keyIn lengths cannot be changed)

Related PR https://github.com/usnistgov/ACVP/pull/1182, this change is already on demo.

[2021-05-28 18:08] Kritner commented on #1162
This change is on demo in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18)

[2021-05-28 18:11] Kritner commented on #822
This change is on demo in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18)

Wiki documentation on the endpoint is here: https://github.com/usnistgov/ACVP-Server/wiki/Health-Check---Server-Version-Endpoint

[2021-05-28 18:11] Kritner commented on #649
This change is on demo in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18)

Wiki documentation on the endpoint is here: https://github.com/usnistgov/ACVP-Server/wiki/Health-Check---Server-Version-Endpoint

[2021-06-02 13:15] dmomy opened #1184 "KTS IFC issue on demo server"
I am trying to download the vectors for demo session 181048.  I can’t seem to get vectors for 579303 (KTS-IFC Sp800-56Br2). I was wondering if you can look into this.  It has been over 24 hour that I have been trying to download.

Below is a response I received from Jason Arnold at NIST.      The response I have received indicates that the associated data pattern hasn't been provided.   My capabil

[2021-06-02 13:58] Kritner commented on #1184
The `ktsMethods` should actually be `ktsMethod` - I see it is labeled incorrectly in the specification in one place which I'll correct shortly.

The particular issue here is because we're not validating that a `associatedDataPattern` is provided in cases where `supportsNullAssociatedData` is false - which would be the case here, since the registered `supportsNullAssociatedData` is under the errone

[2021-06-02 15:35] livebe01 commented on #1178
@swkeypair Thank you for these observations surrounding the KBKDF spec. We plan to make several changes to our documentation that should clarify the issues you mention.

[2021-06-02 15:43] #1178 closed

[2021-06-02 17:19] dmomy commented on #1184
Thank you Russ,
I've got the capabilities file corrected.  Thank you for your help on this.
Dennis

From: Russ Hammett ***@***.***>
Sent: June 2, 2021 9:59 AM
To: usnistgov/ACVP ***@***.***>
Cc: Dennis Momy ***@***.***>; Author ***@***.***>
Subject: Re: [usnistgov/ACVP] KTS IFC issue on demo server (#1184)

[EXTERNAL] Do not click links or open attachments unless you recognize the sender and know

[2021-06-08 13:03] davyrouillard opened #1187 "KAS-ECC-SSC vs KAS-ECC/CDH-component"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ssc-ecc.html
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-ecc-cdh-component-test

**Protocol Question**
What is the difference between the" full KAS testing" KAS-ECC/CDH Component/ Sp800-56Ar3 and  the "KAS SSC testing" KAS-ECC-SSC / null / Sp800-56Ar3 ? Both seem to test the Z computation but t

[2021-06-08 14:14] dmomy opened #1188 "Safe Primes vector set in error state"
I tried to process responses for demo session 180376. The customer provided responses were initially incorrect so when the customer provided me with another set of responses I tried to update the test session with the new responses.  The vector set is in a error state not in the failed state which is what I would expect.
The session is 180376 vector set 574916.

 Here is the error
[
  {
    "acvVe

[2021-06-08 14:57] SecureExchanges commented on #809
Thank for your question. We was facing the same issue.

The sample do not reflect the reality. At least they should specify the language of the code sample.

[2021-06-08 15:07] SecureExchanges commented on #809
@AlexThurston  in the same way. How did you interpret this line ?
AES Monte Carlo Key Shuffle
 Key[i+1] = Key[i] xor (MSB(CT[j-1], 128) || MSB(CT[j], 128))

(MSB(CT[j-1], 128) || MSB(CT[j], 128))

if focus on the " || "

Is it something like "Get the Most Signific Bit from CT[j-1] for 128 bit length" and if nothing exist then take the MSB of CT[j] with 128 bit length

OR

is more like : "Take the

[2021-06-08 15:20] celic commented on #1157
Sorry, this is best coming in an email to me.

If the algorithm in the new test session does not already exist in the moduleID, it will be added with a certify request. If the algorithm does already exist it will be overwritten.

Do not worry about historical information. It is no longer an all-or-nothing element of validations. When an individual algorithm is moved to historical we only mark the

[2021-06-08 15:21] celic commented on #809
"Take the 128 most significant bits of the previous ciphertext and concatenate them with the 128 most significant bits of the current ciphertext."

If you have a suggestion for improving the documentation, let me know.

[2021-06-08 15:31] SecureExchanges commented on #809
From my point of view the || operator is not a concatenation operator.

So the example should not be presented like that, because it is confusing.

The "+" operator seems to me more appropriate as a concatenation operator.

Maybe even just comment out the code to specify that it is a concatenation of bytes array.

Key[i] xor (MSB(CT[j-1], 128) " + "  MSB(CT[j], 128)) // Concatenate the MSB([j-1],1

[2021-06-08 15:46] celic commented on #809
Both `+` and `||` are common concatenation symbols. All NIST cryptography standards use `||` to denote concatenation, so it is preferred to remain consistent here. As well in the original response to this issue the following text was added before the pseudocodes...

[code]

It is not always the previous ciphertext, that is just the definition for a CBC mode. The description `IV = CT[j-1]` may be c

[2021-06-08 16:09] celic commented on #809
I have prepared https://github.com/usnistgov/ACVP/pull/1189 to try to cover the other parts of the question.

[2021-06-08 16:19] SecureExchanges commented on #809
Thanks for the explication.

You are right for the || has a concatenation operator. But if we compare the number of language that use "+" vs "||" ...

My comments are meant to be constructive, in order to reach more people.

I am aware that there are many different languages, but reading a pseudo code with operators that differ from one language to another could deserve some additional comments on

[2021-06-08 16:25] celic commented on #809
Thanks for the feedback. Unfortunately in the NIST cryptography standards, `+` already has a meaning, so `||` is necessary. I did add a sentence on this before the AES Key Shuffle pseudocode in the PR linked.

[2021-06-08 17:05] SecureExchanges commented on #809
Another remark for the line :
 CT[j] = AES_CBC_ENCRYPT(Key[i], PT[j])

On encryption and decryption the new IV will always be CT[j-1]

The not suggest to replace all the PT with CT for encryption vs decryption, but the decryption IV is used from the previous CT and not the previous PT.

ie :
Encryption
        If ( j=0 )
            CT[j] = AES_CBC_ENCRYPT(Key[i], IV[i], PT[j])
            PT[j+1]

[2021-06-09 14:51] Kritner commented on #1169
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 14:51] #1169 closed

[2021-06-09 14:51] Kritner commented on #1162
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 14:51] #1162 closed

[2021-06-09 14:53] Kritner commented on #1013
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 14:53] #1013 closed

[2021-06-09 14:53] Kritner commented on #1184
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 14:53] #1184 closed

[2021-06-09 14:54] Kritner commented on #822
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 14:54] #822 closed

[2021-06-09 14:54] Kritner commented on #649
This change has been released to prod in release [v1.1.0.18](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.18).

[2021-06-09 19:15] livebe01 commented on #1180
Hi @dmomy, we don't support validating the capabilities apart from generating a session at present. But I've tagged this so that we can look at it for the future.

[2021-06-10 09:54] kwong-cygnacom opened #1190 "ACVP-AES-CBC-CS1 validation error on payloadLen"
The JSON specification indicated that increment can be any value. I don't why the following request failed validation.
[
  {
    "acvVersion": "1.0"
  },
  {
    "isSample": false,
    "publishable": true,
    "algorithms": [
      {
        "algorithm": "ACVP-AES-CBC-CS1",
        "revision": "1.0",
        "direction": [
          "encrypt",
          "decrypt"
        ],
        "keyLen": [

[2021-06-10 10:27] Kritner commented on #1190
If your implementation only supports exactly the block size for payloads,
then ciphertext stealing is not possible to test. A completely block
aligned ciphertext stealing mode is indistinguishable from normal cbc mode.

You must have some ciphertext to steal from a previous block on order to
test ciphertext stealing mode.

On Thu, Jun 10, 2021, 5:55 AM Kwok ***@***.***> wrote:

[2021-06-10 10:34] Kritner commented on #1188
As the error message indicates, we expect all bitstrings to be composed of full bytes. We don't want to make the assumption of padding the bitstring out to a full byte from "the wrong end of the bitstring".

[2021-06-10 10:36] kwong-cygnacom commented on #1190
Thank you.

[2021-06-10 10:36] #1190 closed

[2021-06-10 11:26] livebe01 commented on #1180
Another way that you could get at this would be to cancel the test session after you've made it.

[2021-06-10 13:25] livebe01 commented on #1181
Thanks @dmomy, we'll update the spec for this.

[2021-06-10 13:28] #1181 closed

[2021-06-12 07:06] kettro opened #1192 "ACVP-TDES-CBC Monte-Carlo Test Decryption"
For the Monte Carlo tests for the TDES-CBC profile, the spec sates that the operation is the same for both encrypt and decrypt. This however is not the case, when testing against the demo server. For decryption, the demo server uses the rules from the CAVP description of the TDES MCT. The difference is as follows (in the inner loop):

Encrypt:
[code]

Decrypt:
[code]

The spec should be updated to

[2021-06-14 18:08] livebe01 commented on #1187
Hi @davyrouillard, I was just taking a look at the 140-3 IG and the ACVP specs you referenced.

FIPS 140-3 IG D.F Scenario 2, #2 includes this - "When path (2) is chosen, the CAVP testing may be performed either end-to-end, in which case the vendor is
issued a KAS certificate, or it may be split into (i) testing the computation of the shared secret, (ii) testing the key derivation function used in

[2021-06-15 08:44] davyrouillard commented on #1187
Thanks you @livebe01  for you answer. The examples of test vectors and results for [KAS-ECC/CDH Component/ Sp800-56Ar3](https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-example-kas-ecc-cdh-component) shows that the aim of the test is to compute the shared secret z. If it was for key confirmation, I suppose we will see some MacTag value in the tests. I conclude that it i

[2021-06-15 13:13] mmccarl opened #1193 "Test Session Exipiry warning on Failed Test Session"
we received a test session expiration warning for tsId 5805.  that test session contained one vector set (vsId = 56240) which had failed validation.  since there were no other vector sets in the test session this test session could not be certified by deleting the failed vector set.  there is no need to send expiration warnings for test sessions that contain only failed vector sets.

[2021-06-16 19:13] mmccarl opened #1194 "ACVP ECDSA Algorithm JSON Specification: What is 'componentTest'"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-fussell-acvp-ecdsa.txt

**Protocol Question**
a note after table 3 says: "NOTE: The 'componentTest' property is only valid for detECDSA /  sigGen / FIPS186-5, ECDSA / sigGen / * and ECDSA / sigVer / *  registrations", but the table does not list 'componentTest'.

this comment looks suspiciously like it shoud be 'conformances' (see section 5.1)

[2021-06-16 21:41] DiptanilDRoy opened #1195 "RSA KeyGen (186-4) "infoGeneratedByServer" issue"
I have come across an issue for ACVTS - RSA (KeyGen) mode.

Vendor has selected **InfoGeneratedByServer = True** along with **Appendix B.3.3 (probable primes)**.  But while I am generating the vectors, the request file is getting generated with **InfoGeneratedByServer = False**.  I tried it with Appendix B.3.4 , B.3.5 and B.3.6 as well and found out that no matter what parameter we define for **In

[2021-06-17 09:25] ksridhar57 opened #1196 "KAS-ECC-SSC tests failing for go/crypto/elliptic module"
Hi,

I noticed that in the case of kas role as initiator, a few test cases were failing with the verdict shown as Z does not match. Also, the z value is variable as we generate keys with a random input. How does the server match the z value in such cases? Any pointers on why these specific tests failed would be very helpful in proceeding further.

These are the details of the tests -
vsId: 587668,

[2021-06-17 14:26] livebe01 commented on #1193
Hi @mmccarl, thank you for bringing this to our attention. We agree, there is no need to send expiration warnings for test sessions that only contain failed vector sets.

[2021-06-17 15:05] livebe01 commented on #1194
Hi @mmccarl, from a cursory look, there do appear to be component tests for ECDSA / sigGen / * and ECDSA / sigVer / *, but perhaps not for detECDSA / sigGen / FIPS186-5. So 'componentTest' should have an entry in Table 3. Let me get back to you on the difference between the component / full tests. And I'll work on updating the spec to make it correct and more clear.

[2021-06-17 20:13] livebe01 commented on #1195
Hi @DiptanilDRoy, I think what you are experiencing may be due to the InfoGeneratedByServer property only being relevant to the AFT testType groups.

Can you provide the vector set ids?

[2021-06-21 04:28] ksridhar57 commented on #1196
Hi,

Any inputs here would be very helpful.

I would also like to add that I'm running these test vectors against Go lang crypto library version 1.12.1. I would like to know if there is anything specific to SP800 56A R3 that needs to be handled.

Thanks!

[2021-06-21 06:10] ksridhar57 commented on #1196
Hi,

We tried with new set of vectors and now we observe the following error -

{
    “acvVersion”: “1.0"
  },
  {
    “error”: “Responses for vsId 587758 not received by the server.”
  }
]

Please let us know how we may proceed. Thanks!

[2021-06-21 12:42] Kritner commented on #1196
It appears that the IUT provided `z` values are not being padded properly as per Appendix C.2 in [SP800-56Ar3](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56Ar3.pdf):

![image](https://user-images.githubusercontent.com/8814983/122754820-212a9980-d262-11eb-9f98-82425d5e64df.png)

Here is a repro of the calculation specified in the output section of C.2: https://replit.com/@Kri

[2021-06-21 16:01] davyrouillard commented on #1187
Sorry, I have closed the point by mistake but the question is always open for me.

[2021-06-21 16:25] Kritner commented on #1187
The CDH Component testing isn't for a specific KAS scheme, and was intended more as a "component test" utilizing the diffie hellman primitive.  The *specific* components that were being tested I don't recall, but I don't know that it actually matters either?

There *is* a fair amount of overlap in one of the KAS schemes (I want to say dhStatic?) to be sure, but the KAS schemes additionally *MAY* i

[2021-06-22 10:30] ksridhar57 commented on #1196
Hi,
This is how we upload our responses -

1. Run the following command with vsid info. The generated response is stored in the directory named with the vsid which the acvp proxy automatically picks up.
`./acvp-proxy --vsid 588211`

2. The end point we use is [https://demo.acvts.nist.gov/](url)

[2021-06-22 10:32] ksridhar57 commented on #1196
[testvector-response.txt](https://github.com/usnistgov/ACVP/files/6693421/testvector-response.txt)

* changed the response file extension to .txt from .json in order to attach here.

[2021-06-22 11:20] ksridhar57 commented on #1196
Sorry to bombard you with questions, here is another one. Is there a way we can limit the number of test cases we receive for a given vsid? For instance SHA tests have about 512 individual tests for Algorithm validations. Can that number be configured?

Appreciate your prompt responses and it really helps! Thanks very much.

[2021-06-22 12:47] Kritner commented on #1196
This is only the root URL that's being hit, not the actual endpoint - though looking through our code, the only time this response is returned is if you try to get "results" for a vector set, without having uploaded your responses.

The full endpoint that can return that response is:

[code]

Regarding the ACVP Proxy command you're using, I can't really speak to that as it's not our product.

----

[2021-06-22 15:01] ksridhar57 commented on #1196
about your comment in #1196, yes that helped.
I had a followup question on this regard. I'm testing against the standard go crypto library which provides the implementation for P521 under the go/crypto/elliptic package. As what I have read in a few materials online, the value of z can range from 64 bytes to 66 bytes (and very rarely less than 64 bytes) which is correct as go implements a minimum b

[2021-06-22 15:52] Kritner commented on #1196
I'm not exactly sure what you mean by "test driver code" - if that's the harness or proxy sitting above the actual implementation, then probably ***not***.  The padding here is important for KAS-*-SSC, since SSC's intention is to be used in conjunction with a KAS-KDF to make up a "KAS validation".  The KDFs (in I believe all instances?) perform hashes upon the shared secret, so it's quite importan

[2021-06-23 19:09] Kritner commented on #1170
This change is on demo as a part of release [v1.1.0.19](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.19)

[2021-06-23 19:23] jlramage commented on #1170
Thanks for your consideration and efforts - we'll start testing this immediately! Cheers, Jim.

[2021-06-23 19:23] #1170 closed

[2021-06-25 17:52] livebe01 commented on #1187
Hi @davyrouillard, I’ve been trying to get a good answer as to the purpose of "full KAS testing" KAS-ECC/CDH Component/ Sp800-56Ar3, but don’t have one as of yet. It’s possible that it could be related to PIV card testing. It is not the key confirmation CVL referenced in the 140-3 IG (which has not been implemented to date).

Bottom line, if you only want to test SSC and obtain a KAS-SSC, you’ll w

[2021-06-28 13:49] #1194 closed

[2021-06-29 22:59] sowndar-raj opened #1197 "ECDSA SigVer - response mismatch"
Hi,

The response generated by a vendor has failed in the ACVTS server, below are the algorithm/session details with error log:

**Algorithm:** ECDSA SigVer
**Session ID:** 8344
**vsId:** 78588

Error:

{
            "tcId": 602,
            "result": "failed",
            "reason": "modify key",
            "expected": {
               "testPassed": "False"
            },
            "provided":

[2021-06-30 15:50] ksridhar57 commented on #1196
Hi, I had another question about the KAS component tests where I notice the error "IUT should detect issue in ACVP server ephemeral public key" for some tests. I did notice that you have shared some information for the exact same error - https://github.com/usnistgov/ACVP-Server/issues/60

I would just like to ask this question - does the verification require to check both ephemeral public server k

[2021-07-01 12:35] #1187 closed

[2021-07-02 00:00] AndrewHYang opened #1199 "Submit test session for validation with an existing validationId instead of moduleUrl"
We've been told that we can submit a test session for validation for the old CAVS certs to test new OEs without creating a new module.
But at this point, we will need to provide a moduleUrl for a test session submission. Is there any feature that we can submit with a validation url/id? If so, is there any documentation?

[2021-07-02 15:29] livebe01 commented on #1199
Hi @AndrewHYang, we keep ACVTS and CAVS validations completely separate as ACVTS testing is significantly improved over CAVS. As such, you can't add ACVTS tests to a CAVS cert. Submitting an ACVTS test session for validation using a moduleUrl from the CAVS validation is completely fine and we want users to do this, but note that it will intentionally create a new certificate.

[2021-07-04 13:30] bfussell commented on #1046
@smuellerDD @Kritner The comment above "you may want to add to the spec that the provided input data is pre-hashed data", are you referring to the ClientHelloRandom, ServerHelloRandom, etc. ?

In addition, are these values then hashed and used in place of hashing the entire ClientHello and ServerHello exchanges since "message construction that is defined by the protocol for messages such as Client

[2021-07-06 09:48] Kritner commented on #1046
It's been a while, but IIRC there was protocol specific information that would normally go into the back and forth between the two parties, that information was encoded within the ClientHelloRandom, ServerHelloRandom, etc.  The information contained within those messages would be things such as capabilities available, perhaps a certificate, other metadata that is used to communicate/negotiation be

[2021-07-06 10:51] Kritner commented on #1196
It depends on the capabilities registered, and the revision of testing you're testing against.  The best bet is to run all provided public keys through the partial and/or full validation process as a part of the routine regardless of whether or not we're actually testing against "bad values" IMO.

[2021-07-06 12:22] smuellerDD commented on #1046
@bfussell I meant the reference to the shared secret "z" that is provided as part of the test vector. Z usually is the direct output of the DH operation.

RFC 8446 says:

[code]

It looks to me that Z in the test vector is rather the hashed DH shared secret instead of the plain shared secret.

[2021-07-06 20:46] jbarnesweb opened #1201 "Question RE ACVP KAS ECC SP800-56Ar3 JSON Specification"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-kas-ecc-schemes
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-generation-requirements-per
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-supported-kas-ffcs

**Protocol Question**
How do you map ephemeralUnified, staticUnified and onePassUnif

[2021-07-06 20:53] bfussell commented on #1046
@smuellerDD @Kritner Thanks guys ! That addressed my confusion.

[2021-07-07 16:21] jbarnesweb commented on #1201
I'm assuming ephemeralUnified C(2e, 0s) maps to dhEphem C(2e, 0s), but that is an FFC DH scheme according to SP 800-56Ar3.
Likewise onePassUnified may map to dhHybridOneFlow, but again that's an FFC DH scheme.
By the same token staticUnified and the FFC dhStatic have the same key agreement key characteristics, C(0e, 2s).

The confusing point is using KAS-FFC schemes to describe the generation requ

[2021-07-07 17:26] abkarcher opened #1202 "TDES: spec page examples list "keyLen" in registration, but keylen is not required"
The specification tables all indicate that TDES does not require a keyLen, but the included example registrations all list them. The server seems to ignore sent values either way as they are inapplicable.

Nitpicky, but might help clear up some confusion for people in the future.

Thanks!
Andrew

[2021-07-09 13:14] Kritner commented on #1201
The table (snip):

![image](https://user-images.githubusercontent.com/8814983/125082148-dc419800-e094-11eb-8300-4307bdcd2bbf.png)

Was put together by going through the SP800-56Ar2 (at the time) and mapping out what is the "expectation" per party, per scheme as specified by the document.  It was quite a while ago, but I needed to do that mapping for our own implementation, so I made sure to docume

[2021-07-09 13:17] Kritner commented on #1202
I will try to get to this at some point soon, but feel free to submit a PR removing the erroneous properties from the samples if you'd like.

[2021-07-09 18:37] abkarcher opened #1203 "TDES: Unclear initial values for IV2 and IV3 in interleaved/pipelined modes"
hello!

I am working on adding support for TDES-CBCI, OFBI, and CFBPX ciphers to libacvp. The general documentation available for these ciphers is very narrow; the primary resource that I can find access to is SP800-20 which is revoked and extremely specific in its testing parameters. I also do not have access to APIs for testing these ciphers.

the pseudo code for these ciphers' monte carlo tests

[2021-07-13 00:12] GlennUL commented on #1167
@livebe01 Is there any update on this issue?

[2021-07-13 17:01] GlennUL commented on #1177
@Kritner Is there any possibility that custom fields could be implemented to meet vendor needs like this? Something to allow a selection of sizes for the different ID's.

[2021-07-13 17:20] livebe01 commented on #1167
Working on this now. Apologies on the delay.

[2021-07-13 17:34] mmccarl opened #1204 "XTS registration error in ACVP Symmetric Block Cipher Algorithm JSON Specification"
https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.txt

Table 7 and the subsequent note is incorrect/misleading.  For revision 2.0 the value of "dataUnitLengthMatchesPayload" should read "true, false (if this value is false, the dataUnitLen SHALL be present)" instead of "true, false (if this value is false, the dataUnitLen SHALL **not** be present)".

The subsequent note should state (among oth

[2021-07-13 21:01] jbarnesweb opened #1205 "SP 800-56Ar3 Component Testing for KAS-FFC"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ffc-sp800-56ar3.html

**Protocol Question**
Is there component testing (noKdfNoKc) for KAS-FFC under SP 800-56Ar3? If so, the information seems to be missing from the protocol documentation.

What value should be in the mode attribute of the algorithm capabilities for KAS-FFC?

[2021-07-13 21:04] Kritner commented on #1205
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ssc-ffc.html handles the shared secret computation testing (equivalent to the noKdfNoKc testing from the 1.0 revision of testing)

[2021-07-13 22:32] jbarnesweb commented on #1205
Thank you!

[2021-07-13 22:32] #1205 closed

[2021-07-15 12:12] mmccarl opened #1206 "AES-XPN request vectors don't include "salt" on when generated on Prod"
When we generated AES-XPN vectors on Demo (tsId 186268) we received a request file that includes 'salt' in each test case (vsId 610515). However, when we run the exact same request on Prod, the salt is not included (tsId 8737, vsId 84060). Appendix A of the spec indicates that 'salt' should be supplied by the server.

[2021-07-15 13:48] Kritner commented on #1206
Your capabilities state that your salt is generated "internally" to the module, meaning it can't be input from outside sources except in the case of decrypt.  In the case of the demo vector set, you're registered as `"isSample": true`, meaning our system attempts to generate everything up front, even if something else is required from the perspective of the IUT (in this case the salt).  Our "proje

[2021-07-15 14:05] Kritner commented on #1177
@GlennUL this is possible yes - though KAS has a *lot* of moving parts, and I'm currently otherwise heavily occupied in other work.  I can try to take a look into getting this done over the next week or two, but I can't really promise anything; and it will need to go through the normal release cycle which will take a bit more time.

I haven't fully thought this through yet, but my current thinking

[2021-07-16 14:27] livebe01 commented on #1202
I just put this change through. Thanks!

[2021-07-16 14:27] #1202 closed

[2021-07-19 15:36] Kritner commented on #1203
The IV2 and IV3 for the interleaved/pipeline modes are calculated using IV1 and differing const values for use for IV2 and IV3.

From: https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-20.pdf

Example from KAT:

![image](https://user-images.githubusercontent.com/8814983/126181936-314e7239-3504-4c8a-b744-cb6887354636.png)

Example from MCT:

![image](https://user-images.githubus

[2021-07-19 16:30] abkarcher commented on #1203
Hello,

Thank you so much for the clarification and the examples! This is extremely helpful. Closing -

Thanks again,
Andrew

[2021-07-19 16:30] #1203 closed

[2021-07-20 03:29] AndrewHYang commented on #1199
Got you. Thanks

[2021-07-20 03:29] #1199 closed

[2021-07-21 20:06] #1204 closed

[2021-07-21 20:14] mmccarl opened #1207 "Vector set validations fail on Demo with "internal server error""
Demo System

beginning after the maintenance completed on July 19, we have been unable to do vector set validations on the Demo system.

two such examples are:

[2021-07-22 14:30] dmomy opened #1208 "Unable to submit responses on Demo"
I am having issues trying to submit responses.    When the command is issued to submit responses I have no reply back from the demo acvp server.  Behavior not seen on production.  The session id is 191399.

[2021-07-23 10:07] Kritner opened #1209 "Introduce specification for testing against the KAS Key Confirmation primitive"
[SP800-56Ar3](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56Ar3.pdf) and [SP800-56Br2](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56Br2.pdf) describe a means of confirming the derived keying material from a KDF is accurate.  Previously, this key confirmation testing was only available to "full kas" testing, but with the introduction of standalone SSC an

[2021-07-23 11:20] Kritner opened #1210 "Introduce specification for new KAS OneStep KDF that does not make use of a counter"
Introduce specification for new "OneStepNoCounter" KDF for use under KAS testing. The no counter kdf will be quite similar to the existing OneStep KDF, however it will not make use of a counter - which also means there will never be more than a single "iteration" within the normal flow of the KDF as it is defined in [SP800-56Cr2](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56

[2021-07-23 12:20] jbarnesweb opened #1211 "KAS-ECC Fixed Info Construction for SP 800-56Ar3"
**Protocol Section**
ACVP documenation
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-fixedinfopatternconstructio

NIST Special Publication 800-56A Revision 3
https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56Ar3.pdf

**Protocol Question**
Are there discrepancies in fixed info pattern construction between SP 800-56Ar3 and ACVP coverage? For example,

[2021-07-23 12:55] jbarnesweb opened #1212 "Party U Actions in KAS-ECC C(2e, 0s) scheme with regards to auxiliary function"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html#name-test-vector-responses

**Protocol Question**
Is the produced output for the test case below supposed to be the result of following these actions? I'm unclear as to when the auxiliary function (H = Hash) is supposed to be applied.

1. Generate an ephemeral key pair (de,U, Qe,U) from the domain paramete

[2021-07-23 14:34] Kritner commented on #1211
will be parsed and for which algorithm(s) the derived secret keying material will be used.
For example, AlgorithmID might indicate that bits 1-112 are to be used as a 112-bit
HMAC key and that bits 113-240 are to be used as a 128-bit AES key."

Honestly the SP is a bit frustrating when it comes to the fixed info construction, there's a fair amount of "SHALL"s mixed in with "SHOULD"s, "REQUIRED"s a

[2021-07-23 15:29] jbarnesweb commented on #1211
Just to clarify, my understanding is there is no ephemeral data in 0e, 2s. Should the concat use the static public key of party U?

[2021-07-23 15:34] jbarnesweb commented on #1211
One thing that has quite frustrating about the test development is that there is such a yuge amount of translating from the sp to the acvp nomenclature.

The sp uses C(xe, xs) to describe the schemes, and it seems to me to be the right level of abstraction.

The sp rarely, if ever, uses the words "initiator" or "responder" to describe the roles, where ACVP uses partyU and partyV rarely (only in th

[2021-07-23 18:37] Kritner commented on #1211
Sorry, given the above test case with the provided ephemeral information, I did not realize this was a hypothetical question using the vector as a base, and missed the mention about it being a static scheme.  But no, the static information is not used as ephemeral data for the KDF, in this case the "dkmNonce" that's generated/provided is the ephemeral data used.

Agreed the C(xe, xs) is used throu

[2021-07-23 19:03] Kritner commented on #1212
From the SP:

![image](https://user-images.githubusercontent.com/8814983/126829119-1327bc4d-61a0-49cc-b15a-8c233201e5dc.png)

Section 5.8:

![image](https://user-images.githubusercontent.com/8814983/126829181-8b48b213-452c-4d16-9018-84dd37cf249b.png)

From SP800-56Cr2:

![image](https://user-images.githubusercontent.com/8814983/126828720-94a7a546-833e-4106-b770-5da0dd147a7c.png)

It's unfortunatel

[2021-07-23 19:42] jbarnesweb commented on #1212
Thank you!

[2021-07-26 15:44] Kritner commented on #1177
I unfortunately will not have the bandwidth to get to this at the moment, but if this is something that is preventing a validation, please feel free to have the lab you're working with contact @celic through email at christopher.celi@nist.gov

[2021-07-28 17:23] #1210 closed

[2021-07-28 17:30] #1209 closed

[2021-07-29 13:06] livebe01 commented on #1195
Closing this ticket due to inactivity. Feel free to re-open this ticket if you have further questions.

[2021-07-29 13:06] #1195 closed

[2021-08-03 12:54] mmccarl opened #1215 "How to retrieve verdicts after a transmission failure"
On Aug 2nd, I uploaded a vector response file to Prod (tsid 8843, vsid 84975) during a period when the health check of the Prod system was reporting "degraded".  After repeated attempts, we were unable to to retrieve the verdicts (errored out). My system reported an error and marked the vector set as 'failed'.

However, when I query the testsessions endpoint for the tsid, it shows "passed": "1", s

[2021-08-03 14:20] Kritner commented on #1215
The following two endpoints can be used for retrieving the verdict of the TS and individual VSes

[code]

[2021-08-04 15:02] abkarcher opened #1216 "Questions regarding JWT usage for test session access"
Hello!

We had some questions regarding JWT/accessToken authentication for the sake of requesting validations on test sessions.

We are looking to change our current process so FIPS validations will be requested by people/systems other than the client running the tests. This should nearly eliminate any rejected validation requests submitted due to invalid or mis-formatted metadata.

This would mea

[2021-08-05 23:23] rnunez83 opened #1217 "question about range of DataUnitSeqNumber range in AES-XTS when tweakmode is "number""
[1] https://github.com/usnistgov/ACVP/blob/master/src/symmetric/sections/05-capabilities.adoc

[2] https://csrc.nist.gov/CSRC/media/Projects/Cryptographic-Algorithm-Validation-Program/documents/aes/XTSVS.pdf

**Protocol Question**
In section 6.2 of the AES-XTS Validation System specification document[2] used for testing using the legacy CAVS tool, it stated that the "DataUnitSeqNumber is a base-10

[2021-08-09 10:59] #1047 closed

[2021-08-09 13:50] Kritner commented on #1217
Yes the range continues to be 0-255, feel free to update the specification to note that.

[2021-08-09 13:58] Kritner commented on #1216
Once JWTs are issued, they are valid until their expiration timestamp (unless the client certificate backing the JWT is revoked), so yes you can have multiple JWTs as "currently valid" at any one time.

An potential change that would seemingly accommodate your concern was mentioned here: https://github.com/usnistgov/ACVP-Server/issues/40#issuecomment-732370045. The intention of the comment was to

[2021-08-09 13:58] #1216 closed

[2021-08-09 14:04] Kritner commented on #1216
Just as an aside, I don't believe you would need to be *constantly* trade access tokens back and forth - it sounds like you're more or less using a single client cert across several users right?  Since you can have multiple JWTs as "valid" for a single test session through the JWT claims, it would potentially require only communicating the original test session JWT across your multiple users, of w

[2021-08-09 14:11] #1212 closed

[2021-08-09 14:12] Kritner commented on #1211
I don't think there was anything outstanding on this issue, but feel free to reopen/update if there was.

[2021-08-09 14:12] #1211 closed

[2021-08-09 14:14] #1196 closed

[2021-08-09 14:16] Kritner commented on #1188
This issue is also covered under https://github.com/usnistgov/ACVP-Server/issues/119, and will be corrected on the next prod release (fix is currently on demo in release https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.20)

[2021-08-09 14:16] #1188 closed

[2021-08-09 14:18] #1176 closed

[2021-08-09 14:18] #1172 closed

[2021-08-09 14:19] #1157 closed

[2021-08-09 14:29] Kritner commented on #1151
@AlexThurston Thanks for your patience, this section of the two step configuration would inherit from the [SP800-108 registration](https://pages.nist.gov/ACVP/draft-celi-acvp-kbkdf.html), specifically

![image](https://user-images.githubusercontent.com/8814983/128722944-13ed56a0-5a0b-4d19-b806-5026d098ba37.png)

Though this isn't documented as well as it could be.  I'm marking this issue as a docu

[2021-08-09 14:30] #1149 closed

[2021-08-10 16:07] rnunez83 opened #1218 "Conditioning Component blockcipher_DF should allow requestedBits to be specified"
In [1], there is no indication of a way to specify length of the derived bits to return.

The specification for the block cipher df is defined in section 10.3.2 of SP800-90A[2]. It specifies that "no_of_bits_to_return" is an input parameter to the block cipher df with "maximum length (max_number_of_bits) is 512 bits".

In Conditioning Component BlockCipher_DF Test Responses [3] it states:
      NO

[2021-08-11 16:47] jbarnesweb commented on #1211
Thanks for the explanation.

[2021-08-16 14:21] dmchodnicki commented on #1082
An additional update to remove SHA-1 from the list of "Valid HMAC Functions" is no longer required and this item is being Closed.  SHA-1 was removed from the list with a spec update on 3/9/21.  However, based on work associated with ACVP Issue #1170 it was determined that SHA-1 may indeed be used as a valid HMAC function.  Therefore, it was added back to the list with a spec update on 6/11.

[2021-08-16 14:21] #1082 closed

[2021-08-16 15:17] kaleb-himes commented on #750
@celic,

We have multiple module versions and many OEs' on cert [3389](https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/3389). We are adding more OEs' over time. We run this test 2-3 times a month, it is not a rare test (in our case anyway). Right now one of the feasible ways to implement the test with the hard count for success and failures is to use:

[code]

1)

[2021-08-16 15:34] kaleb-himes opened #1219 "RSA decryption primitive testing: Test Enhancement"
My organization has multiple module versions and many OEs' on [cert 3389](https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/3389). We are adding more OEs' all the time. We run the RSA Decryption Primitive test 2-3 times a month. As of now, our implement for this test (given the hard count failure requirement) is to use the `totalFailingCases` count provided in the

[2021-08-16 15:34] kaleb-himes commented on #750
I have started a new issue for the above encountered scenario here: https://github.com/usnistgov/ACVP/issues/1219

[2021-08-16 15:40] kaleb-himes commented on #1219
On a side note, given that this is a moving target, would it make more sense to have a floor value instead of a hard-count?

IE instead of `totalFailingCases` have `minimumFailingCases`?

In the older CAVP tests we just had to get AT LEAST 10 failures, there was no hard requirement for EXACTLY 10 failures, why has this changed?

[2021-08-16 18:15] AlexThurston opened #1220 "Inconsistent revision for KAS KC"
Recently, KAS KC was added within ACVP.  It looks as though its revision is expected to be `Sp800-56`.

https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-kc-sp800-56.html#name-example-registration

[code]

This is different than the other algorithm revisions which designated this normally as `Sp800-56Ar3`.

Is this an intentional deviation or should KAS-KC revision be `Sp800-56Ar3`?

[2021-08-16 19:01] Kritner commented on #1220
Hey @AlexThurston unfortunately there isn't "one SP" that applies to SP800-56* as it relates to key confirmation.

Given that the KC testing should be valid for either "A" or "B" of SP800-56, I opted to go just the "SP800-56" route - it is not yet on production though so at this point would be simpler to change.  My other thought was potentially "Sp800-56A/B" but I thought the "/" was a bit strang

[2021-08-16 21:29] rnunez83 commented on #1218
UPDATE:
It appears no_of_bits_to_return is not configurable but instead determined by the key size for both Hash_df and Block_cipher_df. Table 1 in SP800-90B[4] standard defines the output length as "AES key size" for Block_cipher_df and "hash-function output size" for Hash_df. Under Table 1 it states "For  Hash_df  and  Block_cipher_df,  the  output  length  indicated  in  the  table  is  used  a

[2021-08-17 12:31] dmchodnicki commented on #1118
Bullet 1 regarding the presence of a "requiresAdditionalNoncePair" field in a server response is being investigated as a possible server code issue.  The Table 2 issues identified in Bullets 2, 3, and 4 have been addressed with recent spec updates. fixedInfoPattern will not be converted from a string to an array at this point in time.  The potential benefit does not currently justify the developme

[2021-08-17 13:39] #1217 closed

[2021-08-17 13:39] rnunez83 commented on #1217
thanks for the confirmation.

[2021-08-17 14:44] celic commented on #1218
The output length of the block_cipher_df should be the key size, as you mentioned, from the table in 90B. The requestedBits should not be specified. It will be defined by that table for all conditioning components tested with ACVTS. I've confirmed the issue on our end and we'll get a fix out soon. Thanks.

[2021-08-17 15:08] celic commented on #1219
As we went through these tests, we thought the RSADP tests would only be run a couple of times per year, as they are a requirement for the NPIVP process, beyond CMVP. It turns out there are _some_ applications of SP 800-56Br2 where these tests are necessary as well.

I've never liked this testing strategy for this algorithm. It relies too much on the harness to perform a matching game than actuall

[2021-08-17 15:17] celic commented on #1219
Also, either through here or separately could you please inform me what lab you are working with? Email is christopher.celi (at) nist.gov.

[2021-08-17 17:11] Kritner commented on #1218
An update has been pushed to demo for release [v1.1.0.20](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.20), which updates the output of Conditioning Component block cipher tests to be equal to the key length of the test group.

[2021-08-17 20:37] rnunez83 commented on #1218
Thanks Russ and Chris.

I have confirmed that the fix is implemented.

[2021-08-17 20:37] #1218 closed

[2021-08-17 22:14] kaleb-himes commented on #1219
@celic, Gladly. Sent you a direct email with details of our FIPS lab.

I appreciate the feedback very much!

Yes, I can see an adjustment to our harness to check (pseudo code):

[code]

Warm Regards,

KH

[2021-08-17 22:37] #1219 closed

[2021-08-18 12:38] locksmithone opened #1224 "ACVP-AES-XTS 2.0: server does not accept configured value for dataUnitLen (dataUnitLenMatchesPayload=false)"
*Demo server. "vsId": 674429*

When registering a test for ACVP-AES-XTS 2.0, with `dataUnitLenMatchesPayload=false` and a set value for `dataUnitLen`, the demo server seemingly ignores the set value for `dataUnitLen` and generates testvectors with matching `dataUnitLen` and `payloadLen`.

Here is the registration POST operation:

[code]

Here is a snippet of the test vector that is received from t

[2021-08-18 13:15] AlexThurston commented on #1220
I don't, no.  In fact, with this explanation it makes sense.  In reality, because I hadn't encountered this scenario, I thought that it might be a typo so I wanted to make sure that it wasn't the case.

[2021-08-18 13:15] #1220 closed

[2021-08-18 13:48] dmchodnicki commented on #1118
ACVP-Server #135 has been opened to investigate the Bullet 1 "requiresAdditionalNoncePair" field concern as a possible server code issue.  The spec update addressing the Bullet 6 big endian concern has been implemented.  Therefore, this issue is being closed.

[2021-08-18 13:48] #1118 closed

[2021-08-18 16:19] abkarcher commented on #1118
Thank you for the updates!

Andrew

[2021-08-18 16:21] abkarcher commented on #1216
Hi,

Thank you for all of the information. We are using a cert across several users, and it sounds like we do not have much an issue here since multiple JWTs can be intentionally valid, and as you said, we can just exchange the original JWT once.

Thanks again!
Andrew

[2021-08-19 15:02] dmchodnicki commented on #1201
PR submitted to resolve the mistaken FFC references and scheme names in the ECC spec.

[2021-08-19 15:42] Kritner commented on #1218
This change is on production in release [v1.1.0.20](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.20)

[2021-08-19 16:35] Kritner commented on #1224
@locksmithone the intention of the flag is to indicate that the IUT *CAN* support test cases where the payload and data unit length don't match.  The testing still operates under the assumption that the IUT can process test can where the payload and data unit length *do match*.

* `dataUnitLenMatchesPayload` - means that all test groups the data unit length and payload length match
* `!dataUnitLen

[2021-08-23 20:14] QuentinGouchet opened #1226 "RSA Keygen according to B.3.2 generates wrong seed length"
RSA Keygen according to B.3.2: ACVP provides vectors with expected responses for 4096-bit RSA key generation with a seed length of 32 bytes. I do not believe that there is currently a way to specify the seed length for expected responses.

FIPS 186-4 specifies that seeds have to be at least 2 * security_strength (section B.3.2.1, step 3). For 4096-bit keys, the seed would have to be 38 bytes long

[2021-08-24 13:02] Kritner commented on #1226
The minimum seed length for a 4096-bit key should be 32 bytes.  Where is the addition 6 bytes in your 38 coming from?  Like you said it should be `2*security_strength`, and the estimated security strength of 4096 is 128 bits.

![image](https://user-images.githubusercontent.com/8814983/130620848-e1b4983c-f924-4a43-8f63-ee8e1a6f658f.png)

a 38 byte seed should be valid for RSA, but I would your vsId

[2021-08-24 13:12] QuentinGouchet commented on #1226
The testIDs/vsIDs failing with a 38-byte seed are: 185745/606921.

The generated keys failed ACVP with 4k size. One example that failed with a 38-byte seed is:

"e":"010001",

"seed":"9bb5386181f34a504f092b684c7a1e735b953d32643898c8991a40157708480203408eeae1da",
            "p":"e58e9bce71f817599f0054e4da8b4884c8caf901537893c3bdddf6a2342c170e4c0c4a49e517698ce654c889891e7c1c96267b287f05b312a390c9ec

[2021-08-24 14:38] Kritner commented on #1226
Comparing intermediate values for this I assume is going to be not fun... I won't be able to jump onto doing so for a bit, but here is what our side is generating as the P/Q given the provided seed of `9bb5386181f34a504f092b684c7a1e735b953d32643898c8991a40157708480203408eeae1da` using SHA2-384 with an exponent of `010001`:

[code]

I see this vector set is passing for the lower modulo, just not th

[2021-08-24 14:49] QuentinGouchet commented on #1226
Yes, lower moduli passed without problems! When I set the seed to 32 bytes, it passes for 4096-bit keys as well. But not with 38 bytes. I am not sure if the issue comes from the IUT or ACVP, and that's what I am trying to find out as well right now.

I cannot test higher moduli. I do not think that ACVP currently supports anything higher than 4096 for FIPS 186-4 (-5 will support 8192 bits accordin

[2021-08-24 15:13] Kritner commented on #1226
Ah, yeah sorry I missed that this was 186-4 testing, not 186-5 - you can register for 186-5 testing against the higher mod sizes against demo if you're at all curious about it.

Glancing over the logic of the generation, I'm not sure why we'd be running into an issue offhand... though one thing to watch out for is the ShaweTaylor algorithm, it relies upon hashing numbers, which is seemingly done o

[2021-08-24 16:36] QuentinGouchet commented on #1226
Reading FIPS 186-4, it seems like Shawe-Taylor seems to be used for DSA keys (since L and N are the inputs), whereas B.3.2 has its own way of generating the primes p and q (using appendix C.10). In C.10, I do not think that the seed needs to be of a specific length-it just gets hashed. Let me know if I misunderstand something here.

[2021-08-24 17:14] Kritner commented on #1226
C.10 makes reference to C.6 however, so it's seemingly in use for both DSA and RSA.

![image](https://user-images.githubusercontent.com/8814983/130657791-6eb8a701-e51c-4b28-a0b1-a2a193c52c4d.png)
![image](https://user-images.githubusercontent.com/8814983/130658082-cf7564b4-b67e-462f-a1b0-9c8c349d02ba.png)
![image](https://user-images.githubusercontent.com/8814983/130658216-03148815-70cc-4e7d-9319-

[2021-08-24 17:18] celic commented on #1226
Any time a standard says to hash an integer value, it considers the value to be a multiple of 32 bits, which is the common way integer values are stored. This includes multi-precision libraries for integers that exceed 32 bits. They are often stored as a multiple of 32 bits as more space is needed.

[2021-08-24 19:10] locksmithone commented on #1224
In this case, what is the purpose of the dataUnitLen field? Whatever value
we put there, the ACVP server may then generate test cases with that
dataUnitLen, or any other value, as it happened in the testID provided.

On Thu, Aug 19, 2021 at 11:50 AM Russ Hammett ***@***.***>
wrote:

[2021-08-24 22:47] jbarnesweb opened #1227 "NIST validation response for KAS-ECC onePassDh responder role AFT"
**Protocol Section**
https://pages.nist.gov/ACVP/draft-hammett-acvp-kas-ecc-sp800-56ar3.html

**Protocol Question**

Given the test case and response below, the NIST demo server failed the test case with the error "dkm does not match". That answer sent me on a very long investigation into the reason for the dkm not matching. It wasn't until I examined the response that I realized the public key wa

[2021-08-25 13:03] Kritner commented on #1179
Thanks @dmchodnicki, closing as per #1223

[2021-08-25 13:03] #1179 closed

[2021-08-25 13:04] Kritner commented on #1151
Thanks @dmchodnicki, closing as per #1222

[2021-08-25 13:04] #1151 closed

[2021-08-25 13:11] #1201 closed

[2021-08-25 15:31] QuentinGouchet commented on #1226
I do not see anywhere where the seed length should be a multiple of 32 bits. Can you point me to it?

[2021-08-25 15:49] celic commented on #1226
Unfortunately it is not stated anywhere and has a bit of history. I cannot find any historical references to help out here.

I can point you to FIPS 186-4 Annex C.2.2 which states that `In this Standard, the binary length of the integer C is defined as the smallest integer n that satisfies C < 2^n`. This is noticeably against the current practice. When the CAVP originally came out with testing for

[2021-08-25 15:58] QuentinGouchet commented on #1226
Do you what happens on your end when we provide a 38-byte seed? Is it truncated, or padded to 320 bits? I wonder if I could artificially do the same on the my end before posting the responses.

[2021-08-25 16:00] celic commented on #1226
A seed is padded to the next multiple of 32-bits. 0-bits are added to the left side of the value to keep the integer value the same.

[2021-08-25 16:36] QuentinGouchet commented on #1226
Yup, that did it. I use a 40-byte seed and it passed. So padding was the issue! Good to know, thanks!

[2021-08-25 16:36] #1226 closed

[2021-08-30 07:30] krissridhar opened #1233 "Question on EC key verification using P-521"
Hi,

I have this strange problem where in order to verify if the Qx and Qy are points on the given curve fails for ACVP tests based on P-521. This is not an ACVP server/parser problem as I see that in case of OpenSSL tests, the very same vectors pass. However I'm trying to run the key verification tests on Go/Elliptic module where I'm facing this trouble.

I understand, at a very high level that q

[2021-08-30 14:18] livebe01 commented on #1227
Thanks for sharing this with us. We'll take a look at what we can do to fix the messaging for this scenario.

[2021-08-30 20:18] rnunez83 opened #1234 "AES-CTR "testType": "CTR" payload length"
**Protocol Section**
I have a questions regarding the AES-CTR testype "CTR".

In [1] it states that for "CTR" - Counter Mode Test ->  "The server will send a long message to the client for encryption or decryption and back-compute the IVs used by the implementation under test."

Furthermore, in [2] it states that for AES-CTR the payload length "Min": 1, "Max": 128, "Inc": any

Finally, in [3] the

[2021-08-31 13:31] Kritner commented on #1233
I'm not sure what exactly is being asked here, is it specifically around the padding used for curves?  If so, then this seems to be effectively the same question as the one here: https://github.com/usnistgov/ACVP/issues/1196, specifically https://github.com/usnistgov/ACVP/issues/1196#issuecomment-865001574 and https://replit.com/@Kritner/ExpectedBitLengthOfZ#main.py.  If I am not interpreting the

[2021-08-31 13:38] jbarnesweb commented on #1227
Thank you!

[2021-09-02 17:20] rnunez83 commented on #1234
Adding further findings:

I tried to increase the payload size larger than 128-bits and received the following error message from the server:

ACVPProxy (11:36:59) (tid0) Error: Server error response: [
  {
    "acvVersion": "1.0"
  },
  {
    "error": "Validation error(s) on JSON payload.",
    "context": [
      "ACVP-AES-CTR-1.0: DataLength maximum must be at most 128"
    ]
  }
]

[2021-09-02 18:52] livebe01 commented on #1234
Yes, as I've been looking at this it appears that we require an implementation to support a 128-bit payload length as AES at its core operates on 128-bit blocks. If an implementation supports payloadLens < 128-bits, we can test that as well.

So, when you do a registration, if you want to test payloadLens other than 128-bits, you'll see one or more test groups appear in your prompt such that the t

[2021-09-03 18:31] rnunez83 commented on #1234
Thank you for looking into this and thank you clarifying.

So if I understand correctly, for TestType: CTR, CT and PT values will always be 128,000-bits and the IUT is expected to process in 128-bit chunks to form a 128k-bit output in the response file.

[2021-09-08 03:13] rnunez83 opened #1237 "test case response construction for TLS 1.3"
**Protocol Section**
In Table 3 of ACVP responses.adoc in [1], it lists the secrets that the IUT must provide in the response.json file.

**Protocol Question**
What is the purpose of the ellipsis in "Table 3. Test Case Results JSON Object" of [1]?

For example, Table 3 states that:
1) clientEarlyTrafficSecret =  Derive-Secret (., "c e traffic", ClientHello)
then
2) earlyExporterMasterSecret = Deri

[2021-09-08 15:41] livebe01 commented on #1234
Yes, that should be the case. However, test harnesses and implementations should be designed in a manner such that they will be able to accommodate a different sized payload (multiple of 128 bits) if we were to change the CTR payload size for any reason in the future.

[2021-09-09 11:58] gcosta23 opened #1239 "Typo in KAS-ECC spec - "satMethod" in docs is appearing as "saltMethod" in vectors from server."
https://github.com/usnistgov/ACVP/blob/5ed45477b5e70a437327790010f584cf84663850/src/kas/sp800-56ar3/ecc/sections/06-test-vectors.adoc

Has a typo compared to the server implementation whereby it defined "satMethod" which I believe should be "saltMethod".

[2021-09-09 13:11] Kritner commented on #1237
the "..." is effectively concatenation as you assumed, the TLS v1.3 ACVP specification was just more or less following the nomenclature of the RFC, though that does make it inconsistent with the norm of ACVP specifications.  This can be updated.

The messages exchanged between parties like in ClientHello and ServerHello are constructed in such a manner that they describe the capabilities of the pa

[2021-09-09 13:55] rnunez83 commented on #1237
Thanks for the clarification, that makes perfect sense!

I will look forward to seeing the nomenclature updates...

[2021-09-13 16:44] abkarcher opened #1240 "Maximum message length for SHAKE hash algorithms?"
Hello!

Currently, there is no way to indicate in the protocol a maximum message length for testing SHAKE. The specification also does not seem to mention a maximum message length unless I am missing it. Is there a hard maximum message length for SHAKE for the sake of testing? I would assume 65536 as with the other hash algorithms, but I am receiving some vectors with message lengths beyond that (

[2021-09-13 23:22] ldgibbons opened #1241 "SRTP KDF test generation ignores errata for RFC3711"
The original CAVS test generation for SRTP KDF ignored an existing errata for RFC 3711. As a result, it generated incorrect KDF vectors for sRTCP. Upon realizing the oversight, NIST decided that both the original interpretation and the corrected method of sRTCP KDF would be allowed. One might think that the test vector generation system would implement a switch to decide which mode to use, but thi

[2021-09-14 00:30] ldgibbons opened #1242 "Does ACVP AES-CTR mode testing address SRTP's use of AES-CTR?"
**Protocol Section**
Is your question regarding a specific section of the protocol?  You can link it here.
https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.html#name-test-types

**Protocol Question**
SRTP encryption described in RFC 3711 uses AES-CTR mode, but increments only the low 16 bits of the 128-bit IV as the encryption/decryption process moves across the VoIP packet, with no rollover

[2021-09-15 06:28] mwcw opened #1243 "KAS-KDF OneStep CR2 secondary shared secret "t""
Hi,

Could I confirm that it is valid to supply the following fixed info pattern with OneStep please?

```"fixedInfoPattern": "algorithmId||uPartyInfo||vPartyInfo||t",```

The server did not supply vectors with the "t" value in the "kdfParameter" block.

I have attached the capability json, and some returned vectors and sample.

Please let me know if you need any more information!

[OneStep-CR2.zi

[2021-09-15 11:16] Kritner commented on #1243
@mwcw Yes the `t` value should have been included with the prompt file, I'll get it added in the next release.

[2021-09-15 13:54] abkarcher opened #1244 "AES-CFBX payloadLen consistency"
Hello,
I had a general question regarding the payloadLen value that is present in many AES vectors. There are many differences in where this value can appear, and if it appears at all, and I am curious if this is by design.

Looking at vector sets for AES-CFB1, it seems we get payloadLen as a field in each test case. CFB8 and CFB128 do not seem to get a payloadLen field. Many of the AES ciphers ge

[2021-09-16 06:28] mwcw opened #1245 "KAS-KDF CR2 OneStep accepts performMultiExpansionTests as true but does not return appropriate vectors."
Hi,

After making a request for vectors with expansion, the demo server does not return vectors with ```kdfMultiExpansionParameter```.

These vectors pass when treated as non-expanding.

I have attached capability json, vectors + samples returned.

Let me know if you need any more information!

MW
[Archive.zip](https://github.com/usnistgov/ACVP/files/7175341/Archive.zip)

[2021-09-16 13:54] Kritner commented on #1245
I had misread this initially and thought it was for a TwoStep KDF, the one step KDF does not allow for multiple expansions:

![image](https://user-images.githubusercontent.com/8814983/133624735-58a6de8c-6571-4dce-b4fb-55225841fc9d.png)

[2021-09-16 18:32] livebe01 commented on #1241
Hi @ldgibbons, we're closing this ticket as it's a duplicate of #950. This is something we plan to add, just haven't had an opportunity to get it in as of yet.

[2021-09-16 18:32] #1241 closed

[2021-09-16 19:50] celic commented on #1242
The CTR tests were not designed with SRTP in mind. That said, that doesn't mean they aren't applicable, but they are not required in any way. [SP 800-135r1](https://nvlpubs.nist.gov/nistpubs/legacy/sp/nistspecialpublication800-135r1.pdf) offers no guidance on how the cipher is set up within SRTP. It _could_ be ECB, adding `1` to the plaintext after each call. It _could_ be CTR where the counter is

[2021-09-17 03:27] mwcw commented on #1245
Hi,

Thanks for the clarification and sorry for consuming your time.

I will close the ticket here.

[2021-09-17 03:27] #1245 closed

[2021-09-17 09:03] tpj opened #1246 "Questions about cSHAKE256 MCT"
I've received this MCT test vector for cSHAKE256:
(I set `increment=8` in the algorithm form since our cSHAKE256 only handles bytes.)

Test vector:
[code]

Expected result:
[code]

Questions:
- Acccording to the cSHAKE256 MCT (https://pages.nist.gov/ACVP/draft-celi-acvp-xof.html#section-6.2.1) there should be 100 md's in `resultArray`. Why are there only three in the expected result?

- The MCT sp

[2021-09-17 14:19] #1092 closed

[2021-09-17 14:19] #1099 closed

[2021-09-17 14:19] #1103 closed

[2021-09-17 15:31] #1078 closed

[2021-09-17 15:32] #1077 closed

[2021-09-17 15:32] #1073 closed

[2021-09-22 13:51] Kritner commented on #1243
This change is on demo in release [v1.1.0.21](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.21)

[2021-09-23 03:35] mwcw opened #1249 "KAS-KDF TwoStep kdfParameter missing "l" value."
Hi,

KAS-KDF TwoStep vectors are missing the "l" value from the kdfParameter block.

I have attached a set vectors for TwoStep where it is missing in the req file and the capabilities.json we used where the fixedInfoPattern specifies ```"fixedInfoPattern": "l||label||uPartyInfo||vPartyInfo||context||t",```

Please let me know if you need any further information.

MW

[Archive.zip](https://github.c

[2021-09-23 04:20] mwcw opened #1250 "ACVP-AES-CCM aadLen of [0,496,880] returns only aadLen of 0 and 256"
Hi,

This was reported by one of our clients for ACVP-AES-CCM aadLen the client needs to specify the domain as an array of values.

The server is accepting the capabilities request but returning unspecified aadLen(s).

I have attached a capability.json and a returned set of vectors.

Please let me know if you need any more information.

I would like to cite the following documents:
```aadLen``` is

[2021-09-23 12:40] #1239 closed

[2021-09-23 20:06] livebe01 commented on #1240
Hi @abkarcher, sorry for the slow reply.  I just added the info you requested for SHAKE to the spec, see [here](https://github.com/usnistgov/ACVP/blob/master/src/sha3/sections/06-test-vectors.adoc). The lengths that you were seeing in your test session are the max lengths for SHAKE-128 and SHAKE-256 as long as inBit is set to 'false' in the capabilities registration. If inBit is set to 'True', the

[2021-09-23 20:42] abkarcher commented on #1249
This also seems to be the case for HKDF (at least in SP800-56Cr1 testing). OneStep seems fine in my initial request.

Thanks,
Andrew

[2021-09-24 20:23] abkarcher opened #1251 "SHA LargeDataTest "Optional" Status"
Hello,

The current status of large data testing on SHA is that it is an optional test. after reading through #1016 , it is still not entirely clear to me what that entails. Is it completely optional, or only optional in the sense that implementations not designed to process larger message sizes do not need to test it? Is it required for implementations that can support larger data sizes?

If it i

[2021-09-27 14:40] Kritner commented on #1249
This change should be on demo

[2021-09-27 15:01] abkarcher commented on #1240
That is perfect, thank you @livebe01! Closing.

[2021-09-27 15:01] #1240 closed

[2021-09-28 19:01] Kritner commented on #1251
@celic perhaps you can elaborate - but the idea of the test came up as a means of giving additional assurances for hash functions that implement a `Hash(message)` interface, rather than (or likely in addition to) the `Init()`, `Update(...)`, `Final(...)` methods.

Right now, the LDT is not required as you indicated, I can't speak to if it will ever be required.  As far as which large data sizes to

[2021-09-28 21:45] celic commented on #1251
In terms of the CAVP, the test is fully optional. You may include it if you wish. For the CMVP, there are situations where a reviewer would need to see the test appear. We are working on identifying those situations at the moment. But ultimately the test will always be optional for the CAVP because we do not know enough about the module to determine if the testing is required.

If you include the

[2021-09-30 03:31] RoyHSYoo opened #1255 "Request for recommendation of the advertisement JSON for ECDH key agreement test"
**Protocol Section**
Is your question regarding a specific section of the protocol?  You can link it here.

Just click on the table of contents in the question area of the protocol to get a URL directly to that section.

Examples:
https://pages.nist.gov/ACVP/#how-to-use-metanorma
https://pages.nist.gov/ACVP/draft-celi-acvp-symmetric.html#name-aes-requirements-covered

**Protocol Question**
What is

[2021-09-30 14:49] QuentinGouchet opened #1256 "SP800-56Cr2 fixedInfoPattern min size"
We were wondering what the minimum size for the fixedInfoPattern is for the SP800-56Cr2 KDFs, as a standalone KDF or as part of SP800-56Ar3.

We were not able to find the information here:
https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56ar3/ecc/sections/05-capabilities.adoc#fixedinfopatcon

[2021-09-30 17:39] Kritner commented on #1256
Hey @QuentinGouchet  I'm not sure what you mean by the minimum size of the pattern - are you asking about the minimum size of the produced fixed info? or the literal string pattern?

In either case currently, there is no real "minimum size", the fixed info pattern for testing purposes ***MUST*** contain both `uPartyInfo` and `vPartyInfo`, anything else is optional.  the party info is a concatenati

[2021-09-30 17:53] Kritner commented on #1255
KAS-ECC-SSC testing against the "ephemeral unified" scheme sounds like what you're describing. This tests when two parties generate keys upon request to compute a shared secret of `z`.

[2021-09-30 17:56] #1242 closed

[2021-09-30 17:57] #1233 closed

[2021-09-30 18:04] QuentinGouchet commented on #1256
hi Russ,

Yes, I believe it does answer my question thank you!

Quentin Gouchet
-----------------------------

On Thu, Sep 30, 2021 at 12:39 PM Russ Hammett ***@***.***>
wrote:

[2021-10-01 02:10] RoyHSYoo commented on #1255
Thank you. I will try.
By the way, i have more questions.

1. Can you explain the detail of each ECC Scheme?
*  ephemeralUnified - keyConfirmation not supported
*  fullMqv
*  fullUnified
*  onePassDh - Can only provide unilateral key confirmation party V  to party U.
*  onePassMqv
*  onePassUnified
*  staticUnified

2. In case of "noKdfNoKc" parameter, "hashAlg" is required. But in my understandin

[2021-10-01 13:48] abkarcher commented on #1251
Hello,

Thank you both very much for the details and insight! It is good to know this may come up in CMVP in the future.

Closing-
Thanks,
Andrew

[2021-10-01 13:48] #1251 closed

[2021-10-01 17:04] livebe01 commented on #1244
Hi @abkarcher,

I took a look at example prompts for all the modes covered by this spec. It turns out (and I hadn't realized this before) that part of the answer is contained w/in the tables of section 8.1 where the test group properties are defined for each algorithm. Here you can see which algorithms require the 'payloadLen' parameter as part of the test group JSON objects. These tables had a fe

[2021-10-04 16:24] SecDino commented on #1256
Hi,

I hope you don't mind if I jump in.
The problem would be in case of ACVP testing of resource constrained systems in which the bare minimum literal string pattern length for the _FixedInfo_ should be carefully defined. The mandatory fields are _uPartyInfo_ and _vPartyInfo_ but I am not clear with something regarding the ID literal sizes.

A couple of examples (referring to the ACVP tests):

**

[2021-10-04 18:24] livebe01 commented on #1246
Hi @tpj,

I just took a look at your questions related to cSHAKE256 MCT testing. For the first bullet, we only compute the first 3 md's when isSample is set to true in the registration for cSHAKE. isSample set to true is only allowed on demo. Only calculating the first 3 md's is a shortcut we've taken to allow us to generate vector sets more quickly on demo. If you want to perform a test using all

[2021-10-14 14:43] rnunez83 opened #1259 "acvp server fails to provide vectors KTS-IFC-Sp800-56Br2 when SupportsNullAssociatedData is false"
When I try the following request vectors with "supportsNullAssociatedData":false, i am provided with error shown below even though i have provided "fixedInfoPattern" in the request as shown below the error message

Error: Server error response: [
  {
    "acvVersion": "1.0"
  },
  {
    "error": "Validation error(s) on JSON payload.",
    "context": [
      "KTS-IFC-Sp800-56Br2: Implementation mus

[2021-10-19 20:12] celic opened #1260 "AES-FF3-1 Specification Examples Incorrect"
The examples used for FF3-1 in the symmetric specification are not correct. They were pulled from a bugged implementation of AES-FF3-1. This has since been fixed on the server (since Aug 2019) but the specification still uses incorrect values.

[2021-10-20 10:37] #1260 closed, assigned to Kritner

[2021-10-20 14:18] Kritner commented on #1255
The details of each scheme are describe in the SP, the gist is each scheme uses:
* different requirements for keypairs from each party (static/ephemeral) or ephemeral data (like nonces)
* a different shared secret primitive (DH or MQP)

There may be no difference in initiator/responder in some cases, for some schemes, for SSC.

[2021-10-20 14:21] #1243 closed

[2021-10-20 14:21] Kritner commented on #1249
This change is on prod in release [v1.1.0.21](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.21)

[2021-10-20 14:21] #1249 closed

[2021-10-21 13:51] #1259 closed

[2021-10-21 14:06] rnunez83 opened #1265 "HMAC key size given in request files always matches keyLen"
**Protocol Section**
in https://github.com/usnistgov/ACVP/blob/master/src/mac/sections/05-hmac-capabilities.adoc#hmac-algorithm-capabilities-registration

below table 1 it states that...
" 'keyLen' for HMAC contains a Domain of values, the server MAY choose values defined by these rules:
   - 2 values below the Hash’s block length. See Supported HMAC Algorithms
   - The Hash’s block length.
   - 2

[2021-10-21 20:55] abkarcher opened #1267 "Questions regarding locating user-uploaded data"
Hello,

We are in the process of validating and updating some of our existing data and wanted to be able to compare it to existing metadata URLs on the nist server.

The best way that we have been able to determine to handle this is using the validation search list on the NIST website (https://csrc.nist.gov/projects/cryptographic-algorithm-validation-program/validation-search) and using the /acvp/

[2021-10-28 21:17] #1265 closed, assigned to livebe01

[2021-11-02 18:08] abkarcher commented on #1267
Thank you very much for the help! closing -

Andrew

[2021-11-02 18:08] #1267 closed

[2021-11-05 08:38] smuellerDD opened #1271 "SPEC: clarifications to ANSI X9.63 needed"
Typo: https://github.com/usnistgov/ACVP/blob/master/src/ans9.63/sections/03-supported.adoc refers to ANSI X9.42

Unclear statement: keyDataLength and sharedInfoLength can be a Domain - but the spec is a bit vague here and does not define the step size limitations.

Clarification needed: fieldSize is well defined. But when my IUT may only have one field size as it implements only one curve, the ser

[2021-11-05 14:45] abkarcher opened #1272 "Enhancement suggestion: request/<ID> endpoint features"
Hello,

We had some thoughts one one or two enhancements that might help us as users manage the flow of requests to the NIST server.

For one, it might be helpful if doing GET on /acvp/v1/requests/<request ID> showed some info about the request, especially in the initial status. E.G. a validation request showing what URLs (or inline resources) got submitted.

For two, it might be helpful if DELETE

[2021-11-05 20:14] locksmithone commented on #1224
I believe this issue is not closed?
My original question referred to the server not obeying the domain set for `dataUnitLen`. As in the example I provided,  `dataUnitLenMatchesPayload=false`, which of course admits that the dataUnitLen may or may not match the payload length. This is fine. But then we do specify values for `dataUnitLen`, which, in my understanding, would inform the server that "yo

[2021-11-08 09:35] smuellerDD opened #1273 "TDES: two key TDES - testable or not?"
https://github.com/usnistgov/ACVP/blob/master/src/symmetric/sections/05-capabilities.adoc#block-cipher-algorithm-capabilities-json-values states:

"The Keying Option used in TDES. Keying option 1 (1) is 3 distinct keys
(K1, K2, K3). Keying Option 2 (2) is 2 distinct keys only suitable for
decrypt (K1, K2, K1)."

I vaguely remember that Chris stated that anything but 3key TDES is not testable any m

[2021-11-08 10:50] Kritner commented on #1256
Is it still assumed as 32 characters (i.e. 128 bits)?

Based on the last sentence, I'm assuming this was in regards to fixedInfoParty.Id?  The ACVP server (for whichever party) currently uses a static ID to represent it's `partyId`, specifically `434156536964` from the CAVS days.  Regarding the IUT party ID, in the case of the ECC SP800-56Ar3 testing, the IUT is able to provide their own ID, the l

[2021-11-08 13:57] Kritner commented on #1224
I'm not sure of the motivation behind the `dataUnitLenMatchesPayload` property, tagging @celic so hopefully he can elaborate.  My current understanding is the the implementation *MUST* support when the data unit matches the payload.  An additional "feature" of the implementation is that the implementation *COULD* also support instances where the data unit length *DOES NOT* match the payload - but

[2021-11-08 16:01] livebe01 commented on #1271
Hi @smuellerDD, thanks for pointing out the X9.42 typo. I'll get a fix in for that.

For keyDataLength and sharedInfoLength, it is true that we accept the domain type for these. I believe that you can specify a step or increment, but, as stated in the Description in table 2, we're only looking for a minimum and maximum for these. If you provide a domain that includes >2 values, we only use the sma

[2021-11-08 17:13] smuellerDD commented on #1271
Am Montag, 8. November 2021, 17:01:45 CET schrieb livebe01:

Hi livebe01,

All I am suggesting is to update the documentation in this respect.

Yes, that works. But the spec seems to indicate that I must have the min and
max fields.

Ciao
Stephan

[2021-11-08 18:18] livebe01 commented on #1271
Sure, that makes sense. I'm about to push through some changes that I think will make the whole min / max thing a bit more clear.

[2021-11-08 18:25] livebe01 commented on #1271
PS I'll close this ticket w/ the pull request, but if anything seems unclear w/ the changes I made, please ping me.

[2021-11-08 18:25] #1271 closed

[2021-11-08 21:44] seamusgr opened #1275 "RSA KTS OAEP"
**Protocol Section**
OAEP Basic no confirmation

**Protocol Question**
"scheme": "KTS-OAEP-basic",
            "kasRole": "initiator",
            "keyGenerationMethod": "rsakpg1-basic",
            "modulo": 2048,
            "fixedPubExp": "010001",
            "l": 256,
            "iutId": "7400",
            "serverId": "434156536964",
            "ktsConfiguration": {
                "hashAl

[2021-11-10 16:22] Kritner commented on #1275
I'm not sure if I'm understanding what you're asking.

For KTS basic from the initiator perspective, the IUT is expected to return a C value and DKM. This information can also be retrieved through a `isSample` registration, and pulling from the "expected results" endpoint: `/acvp/v1/testSessions/{{testSession_Id}}/vectorSets/{{vs_id}}/expected`

It's been many months, but if I'm remembering correc

[2021-11-10 17:30] smuellerDD commented on #1275
Am Mittwoch, 10. November 2021, 17:22:52 CET schrieb Russ Hammett:

Hi Russ,

The initiator works - it is encryption.

The issue is the responder which has to perform the decryption. The ciphertext
that is provided cannot be decrypted by two independent implementations due to
OAEP padding errors.

This is not the issue.

The issue is where the server provides C. My IUTs cannot recover DKM from C
d

[2021-11-10 18:54] livebe01 commented on #1273
Hi @smuellerDD, sure. As you quoted from the symmetric spec, "Keying Option 2 (2) is 2 distinct keys only suitable for decrypt (K1, K2, K1)." Similarly, the [MAC spec](https://pages.nist.gov/ACVP/draft-fussell-acvp-mac.html#name-cmac-tdes-capability-detail) states, "Keying Option 2 (2) is 2 distinct only suitable for decrypt (K1, K2, K1)." The source of these requirements can be found in [SP 800-1

[2021-11-10 19:25] Kritner commented on #1275
@smuellerDD are you working with @seamusgr on this issue separately?  The original post specifically called out from an IUT initiator perspective, where it sounds like you're describing something more like your issue opened https://github.com/usnistgov/ACVP-Server/issues/156 which would be from a responder perspective, no?

[2021-11-10 19:34] smuellerDD commented on #1275
I apologize - I just saw OAEP without checking the issue number. This is not my thread. Please excuse my noise.

Ciao
Stephan

—
Cui bono?

[2021-11-11 03:30] seamusgr commented on #1275
@Kritner correct.  When there is no fixed input parameter the test passes.  It is when the fixed input string is part of the test as indicated above it fails.  So I believe my formatting is incorrect. Do you know if the dkm should follow the fixed input or should even be included at all
thanks

[2021-11-11 15:03] locksmithone commented on #1224
Thank you. But that is not the main issue I am raising.

Let's forget `dataUnitLenMatchesPayload`. Let us focus only on `dataUnitLen`. There is only `dataUnitLen` in our universe now.

If the IUT registers as such:

[code]

is it OK for the ACVP server to send testvectors wherein `dataUnitLen` is **1024**? Because if the IUT says it only supports `dataUnitLen` in the range **[256, 512]**, does it

[2021-11-12 12:28] Kritner commented on #1275
I still don't understand what you mean by:

Where are you talking about? In the response files? In the crypto itself?  I just need more context and specificity as to what it is that's being asked about.

If you're talking about the crypto portion, the "fixed input" I'm assuming you're referring to the associated data, and that data is constructed based on the pattern provided.  In your case the pa

[2021-11-12 13:21] Kritner commented on #1224
if a `payload` being tested is 1024 in length, then yes, a 1024 `dataUnitLength` can be sent in the prompt file.  We will be providing `dataUnits` matching ***both*** the `payload` length ***and*** the registered `dataUnitLengths` in instances of `dataUnitLenMatchesPayload`.

This isn't an issue with the IUT's registration, nor the ACVP server as far as I can tell.  The IUT ***MUST*** be able to t

[2021-11-12 19:13] seamusgr commented on #1275
@Kritner   this is helpful
(1) I missed the 32bit size of the '1' divider for the fixed string.  i will fix this.
(2) Also I missed the 32bit divider between the fixed string and the Keying material. This was the source of my original question

I appreciate your attention. I will ping back on whether this works

[2021-11-15 16:49] Kritner commented on #1250
Sorry for the delay, will be correcting this in the next release

[2021-11-16 23:54] Kritner commented on #1246
This change is on demo in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)

[2021-11-16 23:54] Kritner commented on #1250
This change is on demo in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)

[2021-11-17 13:37] livebe01 commented on #1246
@tpj see also the updates to the MCT pseudocode [here](https://pages.nist.gov/ACVP/draft-celi-acvp-xof.html#name-cshake-monte-carlo-test)

[2021-11-17 16:17] seamusgr commented on #1275
@Kritner  thank you for your help. I had completely misread the semantics of the test and believe now have located my problem. I was considering the fixed input as part of the string to be encrypted rather than playing a role in the encryption algorithm.

[2021-11-19 15:52] celic commented on #1273
As a heads up, `keyLen` and `ivLen` are not valid TDES registration properties. They can be removed. `payloadLen` as well for this particular mode, is not supported. For most TDES modes, the only properties should be `direction` and `keyingOption`.

`keyLen` is only valid for TDES-KW.

I do recall working with you @smuellerDD on TDES 2-key KATs. These particular tests you're getting with 3 keys ar

[2021-11-22 10:09] Kritner commented on #1275
No problem!  I wasn't sure on if you had all the information you needed to close out the issue, but if I don't hear back in the next few days I may close it out.

[2021-11-23 05:46] smuellerDD commented on #1273
Am Freitag, 19. November 2021, 16:52:50 CET schrieb Chris Celi:

Hi Chris,

Unfortunately I do not recall.

Ciao
Stephan

[2021-11-23 17:17] seamusgr commented on #1275
Thanks again for your help.  I will close out this issue

[2021-11-23 17:17] #1275 closed

[2021-12-10 14:28] Kritner commented on #1250
This change is on prod in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)

[2021-12-10 14:28] #1250 closed

[2021-12-10 15:09] davyrouillard opened #1276 "RSA keyGen & KeyinfoGeneratedByServer"
Hello,

**Protocol Section**
https://pages.nist.gov/ACVP/draft-celi-acvp-rsa.html#name-rsa-algorithm-registration-

**Protocol Question**
I have generated tests on the demo server for RSA keyGen, setting infoGeneratedByServer to false and true. (see attached files [keyGen_files.zip](https://github.com/usnistgov/ACVP/files/7693619/keyGen_files.zip))
In both cases, I obtain key values from the serve

[2021-12-14 20:41] livebe01 commented on #1276
Hi @davyrouillard, I just took a look at the capabilities file you provided and noticed that the value for isSample is true. In the case of RSA keyGen, the use of `"isSample": true` trumps the value you're providing for infoGeneratedByServer. Ordinarily, setting infoGeneratedByServer to false would result in your receiving mostly empty test cases. However, because isSample is set to true, ACVTS mu

[2021-12-19 23:06] mwcw opened #1278 "ACVP-AES-GCM-SIV not accepting domain for paytloadLength"
Hi,

ACVP-AES-GCM-SIV does not appear to accept domain for payload length field, it will accept an array of length values but for a range definition it reports the following error.

Let me know if you need any more information.

MW

Error
[code]

Registration
[code]

[2021-12-21 15:53] davyrouillard commented on #1276
Hi @livebe01,
Oh yes, this makes perfect sense and I am sorry I was not able to solve it alone.
Once "isSample" set to False, that's working as expected.
Thanks you very much for the answer.

[2021-12-21 15:53] #1276 closed

[2021-12-29 18:48] markSimonton opened #1279 "Unable to download test session after successful login and capabilities registration"
this is more of a help request than a bug report.  I am attempting to update our  ACVP vector request/submission tool;  an older version of the tool is working, but limping along as occasionally it will fail to download vectors.  My current version can:
* login
* register a set of Capabilities
* create a test session directory structure on the client
* FAIL to download a set of test vectors for th

[2021-12-29 19:25] Kritner commented on #1279
Hey @markSimonton are your get requests against `/acvp/v1/testSessions/222183/vectorSets/832440` using the JWT returned at login, or the one at registration?  I would *guess* that your tool isn't assigning the JWT properly for those requests.

The login JWT has no claim to test sessions, the JWT that is in the response against the POST `/testSessions` endpoint will have a claim in it that grants a

[2021-12-29 20:14] markSimonton commented on #1279
please forgive my ignorance.  What is JWT?  As for mixing the test session request, from my point of view, I am still in the same login session, I request a new test session and immediately request the download of vector file.  for the session above I used an edited capabilities file with only 1 test type "symcrypt"
				"algorithm": "DSA",
				"mode": "pqgVer",
				"revision": "1.0",

this capabil

[2021-12-29 20:39] Kritner commented on #1279
The `accessToken` is the JWT in the response from both the `/login` and `/testSession` post endpoints.  JWT are basically encoded and signed pieces of data that state claims/authorization to specific resources.  Just for clarities sake, the TOTP is a time based one time password tied to your client certificate required to successfully authenticate on the `/login` endpoint; as opposed to the access

[2022-01-04 17:39] markSimonton commented on #1279
I used the web page you mention, and this is the information
[code]
so the JWT seems to present the proper information.

[2022-01-04 17:59] Kritner commented on #1279
That particular JWT expired on December 28th, so it's possible that it has been expired since your initial 403 when opening the issue.  You can use the `/login` endpoint and your expired JWT to have a new one issued: https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-login

I don't know if that was actually the problem here or not, but I would try to refresh your token and query `/acvp/

[2022-01-05 15:57] merihtes opened #1280 "Unable to generate vectors on production server and demo server"
The issue started on January 4th, 2022 at around 5:30PM Eastern Time.

Production Server Error:

1.

acvp-cli: error: unexpected status code 400 != 200: [
                   {
                     "acvVersion": "1.0"
                   },
                   {
                     "error": "Validation error(s) on JSON payload.",
                     "context": [
                       "Unable to ma

[2022-01-05 17:55] livebe01 commented on #1280
Hi @merihtes, this is due to the Jan 3, 2022 ACVTS algorithm transition. This transition was announced at ICMC and via a 9/10/21 email to the acvts-prod-users and acvts-demo-users lists. The contents of the email is pasted below.

[code]

[2022-01-05 22:17] merihtes commented on #1280
Hi @celic,

Thank you for the information.

If I understand correctly, does this also mean that test-sessions where production responses have been processed before Jan 3rd will fail during certification request?

For instance, if there is a project with existing test-session on production and the testing has completed, will the submission for certificate request fail/reject or will only new regist

[2022-01-06 00:14] celic commented on #1280
You may try to certify existing test sessions. Please send me an email with the requestID after submitting the certify. Christopher.celi at NIST.gov

[2022-01-06 18:55] #1104 closed

[2022-01-11 09:12] avaraacumen opened #1281 "RSA SignaturePrimitive (Component) Capabilities"
This request pertains to specification of the maximum message length supported for the RSA SignaturePrimitive mode. The ACVP server randomly generates messages that range between 0 to n-1 (n=2048 bits/256 bytes), there is not a provision for specifying a maximum message length at present.

Per Section 7.8. RSA SignaturePrimitive Mode Capabilities in the ACVP specification:
“In this mode, the only

[2022-01-11 17:50] livebe01 commented on #1281
Hi @avaraacumen, sure, this is something we should be able to do.

Our team is down a developer at present, but we should be able to pick this up shortly.

[2022-01-11 17:56] avaraacumen commented on #1281
@livebe01 Thank you for your prompt response! As of this morning, the vendor in question has confirmed that they were able to work around this issue so there isn't an urgency here.

[2022-01-12 15:07] livebe01 commented on #1281
Great! I'll close out this ticket then. But if there is a future need, this should be easy enough to do.

[2022-01-12 15:07] #1281 closed

[2022-01-13 20:49] powersmc commented on #1280
Just to clarify - it sure seems like you're saying that we can no longer test the TLS 1.0 and 1.1 KDFs at all.  Is that correct @celic?  That doesn't seem consistent with the FIPS 140-2 or FIPS 140-3 standards, which both still list the TLS 1.0 and 1.1 KDFs as Approved algorithms.

See FIPS 140-2 IG G.20, FIPS 140-3 IG 2.4.B, and SP 800-135r1 for references for that.

It seems like SP 800-52r2 eve

[2022-01-13 21:04] celic commented on #1280
The intention was for full deprecation to match SP800-52. The idea that any
new TLS server would need to use the updated testing. There still appears
to be purpose for the old testing for TLS clients though.

This may need to start from the CMVP rather than the CAVP to look at those
distinctions and update guidance for the new revision of SP 800-52.

Stay tuned...

On Thu, Jan 13, 2022, 3:49 PM Mi

[2022-01-14 15:02] hvinnakota opened #1282 "Unable to map - - index 31 to an internal algorithm id"
-= Generate =-
Configuring demo server

***Generating vectors***
Loading registration data from evertz_reg.json
Requesting vectors from server...

An error occurred

The server returned an error: 400 (Bad Request)
Error Message: Validation error(s) on JSON payload.

Error Details:
Unable to map - - index 31 to an internal algorithm id.
hat issue should be opened at https://github.com/usnistgov/ACV

[2022-01-14 16:36] celic commented on #1282
Can you provide the content of `evertz_reg.json`?

[2022-01-14 16:36] celic commented on #1280
We have reenabled the TLS testing.

[2022-01-14 16:36] #1280 closed

[2022-01-14 17:25] hvinnakota commented on #1282
It was opened by mistake and I'm closing it.

[2022-01-14 17:25] #1282 closed

[2022-01-15 00:17] akpanj opened #1283 "Unable to submit vector test response for verification"
When I submit the vector test for verification I get the error response as

[{"acvVersion":"1.0"},{"error":"The provided JWT expired at 2022-01-14 19:10:19Z and is no longer valid. The JWT claims may be refreshed through the renewal process described in the specification."}]
HttpStatus 401
m_req = {m_port=443 m_endpoint=Lhttps://demo.acvts.nist.gov/acvp/v1/testSessions/223153/vectorSets/837097/res

[2022-01-15 00:54] Kritner commented on #1283
Did you renew your JWT, or just log in again?  The JWT has to be refreshed by logging in passing in the expired JWT as described in the specification https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-request.  If you are just logging in again, you will not be issued a JWT that has claims to the test session, and will get a 403 returned.

[2022-01-20 10:59] jvdsn opened #1286 "CTR examples are incorrect for ctrDRBG-TDES"
Sources:
* https://github.com/usnistgov/ACVP/blob/master/src/drbg/sections/97-examples.adoc
* https://github.com/usnistgov/ACVP/blob/master/src/drbg/sections/XX-examples.adoc

Note the mentions of `3KeyTDEA` in the text and in the examples.This is incorrect, according to the specification, the mode should be `TDES`.

[2022-01-21 10:22] jvdsn opened #1287 "Provide SHAKE test vectors with fixed output length"
Currently, the ACVP protocol requires a domain for the SHAKE `outputLen` value. As a result, it's impossible to request test vectors for which the output length is fixed, i.e. the domain only contains one value. When `min` and `max` are set to the same value, the ACVP server reports an error:
[code]

Why is this restriction set on the output length?

[2022-01-21 12:17] pjehkonen opened #1288 "Fix link to protocol specification in readme"
The first link to protocol specification points to local non-existing file. Change the first link to point to the same location as is the last hyperlink of protocol specification pointing to.

[2022-01-21 13:43] Kritner commented on #1287
if you have a min and max as the same value, then you have a scalar, which should be represented as such within the `domain`.

[code]

the above domain is a valid domain, rather than providing a "min" 42 and "max" 42, just provide is as a scalar value not wrapped in an object but rather as a "raw value within the array".

https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-domain

[2022-01-21 14:05] jvdsn commented on #1287
Right, I'm sending this request now:
[code]

But I get the following error:
[code]

Could you tell me where my JSON request is wrong?

[2022-01-21 16:18] #1288 closed

[2022-01-21 21:00] #1286 closed

[2022-01-21 21:18] livebe01 commented on #1287
@jvdsn I believe that your updated json is correct.  This looks to be an issue on our end. I'll take a closer look next week.

[2022-01-27 21:01] swkeypair commented on #1217
Digging into this to support a vendor trying to make the XTS testing work in a SATA compliant hardware device, we noted a few things that may help clarify this test under certain circumstances. After working through this, I searched this repository for an issue related to XTS and _tweakMode_ or _tweakValue_ and found this issue, and would like to suggest an edit to the description of _tweakMode_ i

[2022-01-27 22:56] tomofod opened #1294 "Server rejects valid RSA signature primitive results smaller than modulus"
The verification process for the RSA signature primitive component test rejects valid signatures if the signature is smaller than the key modulus.

The capabilities section:
https://pages.nist.gov/ACVP/draft-celi-acvp-rsa.html#name-rsa-signatureprimitive-mode
indicates that the test is for `RSASP1` (a numeric operation) from RFC3447 and later states that it tests correct exponentiation (also a num

[2022-01-27 22:57] tomofod commented on #1294
I have suggested a tiny change to the documentation to clarify:
https://github.com/usnistgov/ACVP/pull/1293

[2022-01-28 02:08] rcordeau opened #1295 "SHA Test Vector Response for SHA MCT - question about resultsArray"
**Protocol Section**
Is your question regarding a specific section of the protocol?  You can link it here.
https://pages.nist.gov/ACVP/draft-celi-acvp-sha.html#name-test-vector-responses

**Protocol Question**
In the resultsArray of the SHA2 Test Vector Response for MCT, it says the following

resultsArray | Array of JSON objects that represent each iteration of an MCT. **Each iteration will conta

[2022-01-28 17:26] livebe01 commented on #1294
Thanks @tomofod. Appreciate you adding the note about padding to the spec. I did approve the merge request, but it looks like the build process we use to build and publish updates to the specs is hiccuping. I'll look into resolving that issue and getting your change pushed out.

[2022-01-28 17:26] #1294 closed

[2022-01-28 20:06] Kritner commented on #1295
Hey @rcordeau this seems to just be a specification error.  At one point I believe we did return both, just must have been missed with one of the testing revisions.  You (or anyone for that matter) can feel free to put in a PR correcting the wording around "msg", as it should not be included in the results array.

[2022-01-28 20:13] Kritner commented on #1279
This issue seems pretty stale, so I'm closing but feel free to bump/reopen if there's something outstanding.

[2022-01-28 20:13] #1279 closed

[2022-01-28 21:46] rcordeau commented on #1295
Cool. Thank you.

[2022-01-28 21:51] rcordeau opened #1297 "SHA2 Test Vector Response for MCT change resultsArray spec"
**What type of change is being proposed?
Correction to the specification of SHA2 Test Vector Results JSON

**Details on suggestion**
https://pages.nist.gov/ACVP/draft-celi-acvp-sha.html#name-test-vector-responses
In the resultsArray of the SHA2 Test Vector Response for MCT, it says the following
"resultsArray | Array of JSON objects that represent each iteration of an MCT. Each iteration will cont

[2022-01-29 00:28] Kritner commented on #1295
This still needs a specification update, so I'm reopening until that pr is completed

[2022-01-31 15:49] jvdsn opened #1299 "ACVP (demo) server does not support modulo size 1536 for RSA sigVer"
On https://github.com/usnistgov/ACVP/blob/master/src/rsa/sections/05-sigver-capabilities.adoc, it says:
[code]
However, when requesting a test vector with the modulo size 1536, the following error is returned:
[code]

Is this an error in the specification or in the server implementation?

[2022-02-01 15:19] livebe01 commented on #1299
This is an error in the specification. I've updated the specification to show that the supported modulo sizes are 1024, 2048, 3072, and 4096.

[2022-02-01 16:08] #1295 closed

[2022-02-01 16:08] #1297 closed

[2022-02-02 15:40] livebe01 commented on #1246
This change is on prod in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)

[2022-02-02 15:40] #1246 closed

[2022-02-04 07:13] NorthHill-16 opened #1301 "Cannot login ACVP server, "Forbidden: Access is denied""
Hi, I have exact same problem with issue 968, but I still failed with Docker solution.

1. This problem never happened before, just recently about 1 month ago, I cannot login ACVP server through libacvp
2. Environment OS is Ubuntu 20.04
3. Time is sync through NTP
4. Certificates and TOTP are all correct, format all ok.
5. Docker does not work, it is exactly same error log with non-docker
6. I pul

[2022-02-04 12:54] Kritner commented on #1301
That CA filename is pretty suspect to me.  The client (I believe) needs to take in our CA file in order to verify the certificate chain as it is laid out in the certificate generated for you for use against the demo server.  The `mozzila_trust_anchors`, based on the name alone, is likely not the correct one to be providing to libacvp at runtime.

[2022-02-04 13:20] jvdsn opened #1302 "When is dkmNonceTypes required?"
**Protocol Section**
https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56ar2/ecc/sections/05-capabilities.adoc#kas-ecc-kdfnokc

**Protocol Question**
Table 6 in the page linked above contains the `dkmNonceTypes`, required for the staticUnified scheme. The text directly above the table says the following:
[code]

In other words, according to the specification,  `dkmNonceTypes` is required

[2022-02-04 13:24] jvdsn commented on #1302
Note: this question also applies to FFC, specifically section
https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56ar2/ffc/sections/05-capabilities.adoc#supported-kas-ffc-mac-options

and the same certificate with the following text in the `KAS-FFC` dhStatic entries:
[code]

[2022-02-04 13:26] jvdsn opened #1303 "`AES-CCM` vs `ACVP-AES-CCM` inconsistency"
https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56ar2/ffc/sections/05-capabilities.adoc#supported-kas-ffc-mac-options
https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56ar2/ecc/sections/05-capabilities.adoc#supported-kas-ecc-mac-options

The MAC options contain `AES-CCM`, which is inconsistent with the symmetric block cipher algorithm name (`ACVP-AES-CCM`), mentioned here: h

[2022-02-04 14:23] jarnold01 commented on #1301
Hey @NorthHill-16, I'll reach out to you via nfiles about this and work with you directly on it.

[2022-02-04 15:02] #1301 closed

[2022-02-04 17:32] livebe01 commented on #1217
Hi @swkeypair. Appreciate you providing this feedback. Sure we can update the spec to clarify the items you mention. When it comes to the new specs vs the old CAVS documentation, I see what you mean. I think part of the reasoning why we didn't lay out the explicit details of how we form the test cases based on the provided registrations is that the ACVTS testing is more involved/complex than the C

[2022-02-07 21:48] livebe01 commented on #1217
@swkeypair I just updated the symmetric spec to address the items you mentioned. I noticed that the entry for tweakMode in Table 12 was missing, so I added it. I also updated the tweakMode entry in Table 3 and the tweakValue and sequenceNumber entries in Table 17. Thanks for the feedback and help!

[2022-02-07 22:19] swkeypair commented on #1217
Great - the changes make it much clearer in my view.
Thank you!

[2022-02-08 16:18] livebe01 commented on #1302
@jvdsn Apologies. 'dkmNonceTypes' is relevant to Static Unified for both kdfNoKc and kdfKc. I'm updating both specs to reflect this. Also fixing the Table 7 issues. Thanks for pointing these out!

[2022-02-08 16:27] #1302 closed

[2022-02-08 17:40] livebe01 commented on #1303
Yes, we do use shorthand in various places throughout the specs.

[2022-02-08 17:42] jvdsn commented on #1303
Could this be changed so the server accepts `ACVP-AES-CCM`? When I try this value, the server returns an error because it expects `AES-CCM`.

[2022-02-09 10:30] jvdsn commented on #1303
For reference, this is what I'm sending:
[code]

This is the server response:
[code]

[2022-02-14 16:33] blackbird1999 opened #1306 "TLS 1.3 KDF helloClientRandom ambiguity"
Section at issue:
https://pages.nist.gov/ACVP/draft-hammett-acvp-kdf-tls-v1.3.html#name-test-cases

Issue:
Using the term "helloClientRandom" with a description of "Client hello random value" is ambiguous because the draft means that the "helloClientRandom" is a complete Client Hello message that was randomly generated (that can't be parsed and doesn't look at all like a Client Hello message) whil

[2022-02-14 19:56] livebe01 commented on #1306
Hi @blackbird1999, apologies for the confusion. When I initially responded to you via email, I was incorrect. After taking a closer look, "helloClientRandom" corresponds with the ClientHello of https://datatracker.ietf.org/doc/html/rfc8446#section-7.1 and the 32-byte "random" field of a Client Hello message as defined by https://datatracker.ietf.org/doc/html/rfc8446#section-4.1.2. Let me push out

[2022-02-14 20:08] blackbird1999 commented on #1306
Hmm, if that's the case, I think there is then insufficient information to recreate a ClientHello from the input data which is what needs to be hashed to provide the input to DeriveSecret (which is the full ClientHello message). I think it would need the list of ciphersuites the client supports as well as clear information on what the legacy_session_id and extensions fields should contain.

[2022-02-16 12:44] #1306 closed

[2022-02-16 16:26] blackbird1999 opened #1309 "TLS 1.3 Sample responses are incorrect, or the specification is ambigous"
https://pages.nist.gov/ACVP/draft-hammett-acvp-kdf-tls-v1.3.html#name-responses

Typically, the context value used to compute the values for clientApplicationTrafficSecret, serverApplicationTrafficSecret, exporterMasterSecret, and resumptionMasterSecret is the hash of *all* the messages processed so far. For clientApplicationTrafficSecret, serverApplicationTrafficSecret, exporterMasterSecret this

[2022-02-17 13:33] livebe01 commented on #1309
Hi @blackbird1999, it looks like the examples in the spec are from before we made [this](https://github.com/usnistgov/ACVP-Server/issues/151) change. I'll update the spec to include current examples.

For future reference/help w/ future troubleshooting, you might also check out [this](https://github.com/usnistgov/ACVP-Server/tree/master/gen-val/json-files) part of our ACVP-Server repository. We _t

[2022-02-17 13:47] blackbird1999 commented on #1309
Hi @livebe01,

Thanks for updating the spec and for pointing me to the example file repo. I had no idea the examples existed as they don't seem to be referenced anywhere. Maybe adding a prominent section to the all the ACVP pages pointing people at it would be good. I had actually gone through setting up an ACVP demo account in an attempt to get sample data! As a cryptographic module developer thi

[2022-02-17 14:37] livebe01 commented on #1309
Sure, definitely! I was just thinking that too... about linking to the sample data. We've always had this in an internal repository, but about a month ago we open sourced the "gen/vals" portion of our code and it now lives [here](https://github.com/usnistgov/ACVP-Server). If you dig deep enough into it, you can see exactly how we're generating and validating the vector sets. A bit too much informa

[2022-02-17 16:14] #1309 closed

[2022-02-23 23:36] rnunez83 opened #1311 "Generating RSA KTS OAEP vectors with a NULL additional input"
I had a question about generating RSA KTS OAEP vectors with a NULL additional input.

In the capabilities section of the 56Br2 ACVP spec table 12 (https://github.com/usnistgov/ACVP/blob/master/src/kas/sp800-56br2/sections/05-capabilities.adoc#fixedinfopatcon)  it states:
"Note that for the purposes of testing against the ACVP system, both uPartyInfo and vPartyInfo are REQUIRED to be registered wit

[2022-02-24 17:25] livebe01 commented on #1311
I'd think there would be a way to accomplish what you're describing. I'm not sure why this doesn't seem to be the case. We'll get back to you on this.

[2022-02-24 20:26] FW-Fiona opened #1312 "How to cut/handle gxy when dhlength isn't multiple of 8 in IKEv1"
https://pages.nist.gov/ACVP/draft-celi-acvp-kdf-ikev1.html
I got "dhLength" is 521, gxy "9E50F9E86DAF773F657F5F32BA4C84E707284843F422A74DFC6877D236020F86B115230C3BA57A680AED1AF2F0CE59CBB3C5755D80EFCCC1DD350DE79781AC807180". This gxy is 66 bytes (528 bits)
I tried shift right 7 bits, set the most significant 7 bits to 0, and module 2^521-1, none of them work.
how to handle this case?

Thanks a lot!

[2022-02-24 22:32] Kneckter opened #1313 "Are Safe-Primes Required for FC/FB?"
This question is related to KAS-SSC-FFC and the domain parameter generation methods. In SP 800-56Ar3, the use of MODP and FC/FB have different dependencies, where MODP requires Safe-Primes and FC/FB require DSA. In the ACVP documentation below, it notes that FC/FB require both Safe-Primes and DSA while MODP doesn't require either. I think this is a typo and meant to say that Safe-Primes are requir

[2022-02-28 15:02] livebe01 commented on #1312
Hi @FW-Fiona can you provide us with test session and vector set ids? Thanks

[2022-02-28 15:16] livebe01 commented on #1312
I'm thinking that shifting right 7 bits should be the correct approach. When you're doing this, are you providing a 521-bit string to your implementation? or a 528-bit string?

[2022-02-28 17:21] livebe01 commented on #1313
Thanks @Kneckter. I just put through a pull request to fix the typo.

[2022-02-28 17:57] FW-Fiona commented on #1312
This is a demo file but not created by me. "vsId": 839512, I don't have vectors.
tried shifting right, the answer doesn't match the result in demo expected file.
As openssl supports input as bytes only, 528 bits are inputed (after shifting, the most 7 significant bits are 0).

[2022-03-04 09:43] FW-Fiona commented on #1312
223523, maybe this is the session id.

[2022-03-04 19:09] livebe01 commented on #1312
Hmmm, what you're doing sounds right. Your shifting right 7 bits, with the 7 most significant bits as 0 sounds correct, per https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-hex-to-bitstring-parsing. Looking at your prompt file, I see test groups with dhLength = 224, 521, and 2048. Are your answers coming out okay for the 224 and 2048 test groups?

[2022-03-04 19:41] FW-Fiona commented on #1312
225, 2048 works well with same functions.
For shifting right 7 bits, for example, tcid 11, gxy is 9E50F9E86DAF773F657F5F32BA4C84E707284843F422A74DFC6877D236020F86B115230C3BA57A680AED1AF2F0CE59CBB3C5755D80EFCCC1DD350DE79781AC807180. After shifting, it's 013CA1F3D0DB5EEE7ECAFEBE65749909CE0E509087E8454E9BF8D0EFA46C041F0D622A4618774AF4D015DA35E5E19CB397678AEABB01DF9983BA6A1BCF2F035900E3. The answer do

[2022-03-07 11:32] cgprieto opened #1317 "AES-XTS revision 1 Issue"
I'm trying to register the following capabilities file for AES-XTS revision 1 in the Demo Server:

[
    {
        "acvVersion": "1.0"
    },
    {
        "isSample": true,
        "algorithms": [{
		"algorithm": "ACVP-AES-XTS",
		"revision": "1.0",
		"direction": ["encrypt","decrypt"],
		"keyLen": [128,192,256],
		"payloadLen": [{
                                "min": 0,

[2022-03-07 15:57] Kritner commented on #1317
https://github.com/usnistgov/ACVP/issues/1280#issuecomment-1005947372

[2022-03-07 22:05] livebe01 commented on #1312
Ah, okay. Earlier in the ticket, you mentioned that, "As openssl supports input as bytes only, 528 bits are inputed (after shifting, the most 7 significant bits are 0)." If you're testing openssl and openssl only supports input as bytes, then by definition it cannot support a dhLength of 521 bits. Per the definition of IKEv1 from SP 800-135r1, an HMAC is used to calculate SKEYID. Providing a 521 b

[2022-03-08 06:40] #1317 closed

[2022-03-10 17:24] #1255 closed

[2022-03-10 17:30] #1256 closed

[2022-03-10 17:32] #1283 closed

[2022-03-10 17:35] #1303 closed

[2022-03-10 23:20] FW-Fiona commented on #1312
Thank you for this response. It's clear now.

[2022-03-11 12:30] livebe01 commented on #1312
Welcome!

[2022-03-11 12:30] #1312 closed

[2022-03-11 16:35] #1171 closed

[2022-03-23 19:14] locksmithone opened #1320 "Large Data Tests (LDT) for SHA-1, SHA-2: requirement on how to call/process the large messages."
**Protocol Section**
SHA-1 and SHA-2, Large Data Tests (LDT)

https://pages.nist.gov/ACVP/draft-celi-acvp-sha.html#name-large-data-tests-for-sha-1-

**Protocol Question**
Related to #1251.

In the pages section, the explanation for the "performLargeDataTest" option states:

There seems to be a requirement for how the IUT SHS function must be invoked in the particular, optional case of the large da

[2022-03-24 09:50] jvdsn commented on #1320
Perhaps the CAVP can clarify how the IUT should perform the LDT for each of the three relevant scenarios:
* The IUT only implements a single Hash() function which directly provides the hash output given a message input
* The IUT only implements the Init(), Update(), and Final() functions, where Final() provides the hash output
* The IUT implements all of the above functions

As it stands, it seems

[2022-03-24 14:47] celic commented on #1320
That would be correct. Do not break up the message into multiple updates. It should either be one update, or one hash call.

[2022-03-24 19:21] locksmithone commented on #1320
May I suggest then to update the "pages" to make this information
unambiguous. For the Large Data Tests (LDT), the input message must be
processed in its entirety in one call.

MP

On Thu, Mar 24, 2022 at 9:48 AM Chris Celi ***@***.***> wrote:

[2022-03-25 13:30] livebe01 commented on #1320
Sure, will do.

[2022-03-25 13:45] #1320 closed

[2022-03-25 13:58] livebe01 commented on #1320
Oops, my bad @locksmithone. I didn't see your pull request until after I'd gone through and made the change separately. But I think the requirement should be clearer now.

[2022-03-25 16:22] locksmithone commented on #1320
It is clearer, thank you.

On Fri, Mar 25, 2022 at 8:58 AM livebe01 ***@***.***> wrote:

[2022-03-25 21:18] mtdownz opened #1323 "CMAC Message Lengths"
Currently CMAC supports MSGLEN as a domain only which means it is requiring a Min and Max value. We have vendors whose implementation utilizes fixed message lengths only. Where some algorithms allow for a single MSGLEN CMAC currently does not. Is there a work around to request CMAC vectors using a single message length e.g. 32768 bits

    "error": "Validation error(s) on JSON payload.",
    "cont

[2022-03-28 11:19] livebe01 commented on #1323
Hi @mtdownz, sure, the registration for this would look like `"msgLen":[32768]`. See [here](https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-domain) and [here](https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#name-range).

[2022-03-29 21:12] AlexThurston opened #1324 "Listing All Validations for a Given Set of ACVP Credentials"
Is it possible to add to the public ACVP API, a way in which we can list all the validations that have been created for a given set of credentials (user)?

I'm thinking a GET on /validations that would return to me a list of this structure:
https://pages.nist.gov/ACVP/draft-fussell-acvp-spec.html#section-12.15.1.1

[2022-03-29 21:13] AlexThurston commented on #1324
And maybe return that date when it was created as well?

[2022-03-31 16:16] livebe01 commented on #1324
Sure, that seems like it would be a useful feature. But not something we'll be able to get to soon. If there is some data you need, we may be able to get that to you out of band. Just send Chris Celi an email.

[2022-04-04 13:41] AlexThurston opened #1325 "Test Session Create not Progressing"
I believe this has happened before but it seems like vector sets for test sessions are not being progressed.

On a test session create, it appears to be successful.

[code]

But when trying to read the test session, it never progresses to generating the vector sets and responds with:
[code]

The algorithms are simple ones that normally are generated very quickly (ECB, CBC).

There is also a test s

[2022-04-04 14:12] smuellerDD opened #1326 "cSHAKE MCT clarifications"
This notification relates to issue #1246.

May I suggest to add to the specification that `Rightmost_Output_bits` is a 16 bit little endian value when used as string?

[code]

May I suggest to add a value to the test vector to communicate the `OutLenIncrement` value? Without this information, the test vector is not self-sufficient and must always relate to the request.

The functions of `Left` and

[2022-04-04 14:14] AlexThurston commented on #1325
Thanks very much.

[2022-04-04 14:14] #1325 closed

[2022-04-04 19:47] bfussell opened #1327 "Kerberos KDF"
Has there been any thought to adding Kerberos KDF testing ?
Many of the linux distros utilize it and it supports FIPS compliant crypto for KDF generation.

Thanks !

[2022-04-05 15:26] celic commented on #1327
Do you have a specification or something that outlines it? I'm not familiar.

[2022-04-05 16:57] bfussell commented on #1327
RFC3961 has the KDF in section 5.1(exists in openssl 3.0), however there is a bunch of updated/deprecated and best practice RFCs since then.

https://datatracker.ietf.org/doc/search?name=kerberos&sort=&rfcs=on&activedrafts=on&by=group&group=

[2022-04-07 15:22] mtdownz commented on #1323
Thank you!

[2022-04-07 15:22] #1323 closed

[2022-04-08 21:07] ravishenoy1520 opened #1328 "Signature computed for sample RSA Sigver pkcs1v1.5 2048 SHA2-256 does not match for testpased:true cases"
We are using recent "sample" test vectors we received from our lab for RSA signature verification "sigVer".
We are not able to match the signatures when the expected testpassed is true.
See attached file with test vectors and expected results for details of  test vectors and expected results.
Our SHA2-256 algorithms testing passes.

We are having difficulty figuring out the expected pkcs1v1.5 padd

[2022-04-12 12:39] AlexThurston commented on #835
Two years later, I thought I'd resurrect/bump this question to see if there was any thought or possibility in making this available.  While the CAVP list does display what was algorithm capabilities were registered for the various OEs for a certificate,  having access the the exact JSON that was registered when submitting for validation would be helpful in those situation where a vendor or lab doe

[2022-04-14 16:05] locksmithone opened #1329 "ECDSA siggen component: why specify/register the SHA functions?"
The ACVP has the capability of testing the ECDSA siggen _component_, i.e., the signature generation when the digest of the message is pre-computed outside of the boundary of the algorithm. In such case, the only information the algorithm has is the actual length of the digest. However, for this testing, one needs to supply the hash algorithm types (e.g., SHA2-256, SHA2-512, etc.) and those types a

[2022-04-18 20:24] locksmithone opened #1330 "HMAC: keyLen domain range listed in the specification not consistent with ACVP server control"
**Protocol Section**
HMAC key length (https://pages.nist.gov/ACVP/draft-fussell-acvp-mac.html)

**Protocol Question**
The specification for key length (keyLen) for HMAC algorithms mentions the range from 0 to 524288. However, if one attempts to register a domain with a range starting from zero, the ACVP demo server accuses error.

For instance, the HMAC algorithms below were submitted for registra

[2022-04-20 18:59] livebe01 commented on #1330
Thanks for mentioning this. The valid values for keyLen should be: "Min": 8, "Max": 524288, "Increment": 8. We'll fix this in the spec.

[2022-04-20 19:13] #1330 closed

[2022-04-20 20:14] livebe01 commented on #835
Hi Alex, we don't have any plans for this right now.

I can see adding this capability for the scenario where someone has gotten a bit mixed up or has perhaps overwritten a file and wants to get back to the ground truth of what was registered for a given test session. But we don't have the cycles to implement this right now. The current expectation is that the clients and labs will be managing/sav

[2022-04-21 12:43] AlexThurston commented on #835
Thanks very much for the update.

[2022-04-22 16:23] livebe01 commented on #1329
In the case of the ECDSA sigGen component, the supplied hash algorithm types are used to determine the message lengths to test. E.g., a test group where "hashAlg": "SHA2-256" will have messages that are 256 bits in length. On the certificate, the hash algorithms listed denote the scenarios that were tested. E.g., if SHA2-256 is listed on the certificate for an ECDSA sigGen component, this indicate

[2022-04-26 17:42] #1328 closed

[2022-04-27 21:17] locksmithone commented on #1329
Yet, technically, from the point of view of the algorithm, it has no
knowledge of the provenance of the data passed in as a digest. For
instance, if the data is of 256 bits of length, it may be a SHA2-256
digest, it may be a SHA3-256 digest, it may be a SHA2-512/256 digest, it
might be not a digest at all.

I understand the goal of specifying the digest algorithms as a manner of
identifying the le

[2022-04-28 13:31] livebe01 commented on #1329
Hi @locksmithone, what you say is definitely correct and valid. I think the answer for why we have it setup this way is that, after/or in conjunction with implementing ECDSA sigGen, this was an easy/simple way to implement the ECDSA sigGen component. Not the purest way, but good enough.

[2022-04-28 22:31] rruss-ldos opened #1334 "SafePrimes KeyVer is not in line with SP 800-56Arev3 Sections 5.6.2.1.2 and 5.6.2.1.3"
As mentioned in Issue #849, the ACVTS does not conduct Key Verification of SafePrimes according to SP 800-56Arev3.

Currently, the ACVTS checks the following which is in line with FIPS 186-4's key pair requirements:
  Private key (x), 0 < x < q
  Public key (y), y = g^x mod p

This differs from SP 800-56Arev3's key pair requirements for SafePrimes.

SP 800-56Arev3, Section 5.6.2.1.2 mandates the f

[2022-04-29 12:54] hbarton-atsec opened #1335 "Vector Not Received on Official Server"
Hi,

I'm having an issue on the official server where testID 13098 / vsID 136740 doesn't seem to be received properly resulting in an Unverified verdict. Any help getting this vector to process is much appreciated.

[2022-04-29 20:19] livebe01 commented on #1335
Hi @hbarton-atsec, just wanted to let you know that we're looking into this. It looks like you submitted the vector set results, but that there was an error scoring them. I was digging to find the source of the error, but couldn't quite run it down today. Should be able to get you an answer early next week.

[2022-04-29 20:22] hbarton-atsec commented on #1335
No worries! I appreciate you guys looking into this and have a good weekend.

[2022-05-02 20:37] livebe01 commented on #1335
I think I've tracked the error down to "tgId":5. From looking at our codebase, the error appears to indicate that the z value(s) provided by the IUT for one or more of the test cases are not the correct length.

[2022-05-03 16:30] hbarton-atsec commented on #1335
The modulo is defined to be 512 bytes. iutN and serverC are both 512 bytes. Similarly, the resulting Z is 512 bytes. I don't see how z value is wrong for any of the tcId's in tgId 5 as the the Z is equal in size as the modulus.

[2022-05-03 17:00] livebe01 commented on #1335
Agreed, I'm pretty sure this is an issue on our end.

[2022-05-03 17:06] hbarton-atsec commented on #1335
Ok just let me know if you need something from my side to get this resolved. Thanks again for all your help.

[2022-05-03 19:47] livebe01 commented on #1335
Okay, I found where I was off. It's tgId 1, not 5 and the _iutC_ value, not the _Z_. The server is throwing an error for tcId 3 for the iutC value, as it is 2040 bits where a 2048 bit value is expected. It could be that the IUT is truncating a leading 0x00 byte?

[2022-05-04 23:40] ehanson12 opened #1337 "DEMO server was down"
I noticed that from 5-3-2022 13:00 Eastern to 5-4-2-22 02:00 the NIST server was not fully responding as seen in the CISCO ACVP client log:

    ACV_SERVER:     demo.acvts.nist.gov
    ACV_PORT:       443
    ACV_URI_PREFIX: /acvp/v1/

***ACVP [STATUS][acvp_login:2718]--> Logging in...
***ACVP [STATUS][acvp_login:2738]--> Login successful
***ACVP [STATUS][acvp_register:2119]--> Reading capabilitie

[2022-05-05 12:52] jarnold01 commented on #1337
hi @ehanson12, thanks for reporting this. There is apparently some sort of upstream network issue that is affecting us. I've opened an internal ticket for investigation by our network team. Jobs are processing normally right now, and I will continue to monitor the communications until this is resolved. Results should be available for your submissions shortly as there is fortunately not many reques

[2022-05-05 17:02] ehanson12 commented on #1337
Thanks Jason,

I really appreciate this and all that you do. - Eric

From: Jason Arnold ***@***.***>
Sent: Thursday, May 5, 2022 5:53 AM
To: usnistgov/ACVP ***@***.***>
Cc: Eric W Hanson (Altran ACT S.A.S.) ***@***.***>; Mention ***@***.***>
Subject: Re: [usnistgov/ACVP] DEMO server was down (Issue #1337)

hi @ehanson12<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2

[2022-05-05 19:18] smuellerDD commented on #1335
Some long time ago, the server had the issue that the bignum library required leading zeros. According to Chris, this was fixed long time ago with the replacement of that library on the server. Is this not true any more, i.e. do we now need to take care about leading zeros again?

[2022-05-11 15:13] livebe01 commented on #1311
Hi @rnunez83,

To test an IUT that only supports null associated data, include "supportsNullAssociatedData": true, but do not include an "associatedDataPattern" in your registration.

To test an IUT that supports both null and non-null associated data, include both "supportsNullAssociatedData": true and an "associatedDataPattern" in your registration.

The note that you referenced regarding "both

[2022-05-11 16:06] rnunez83 commented on #1311
I tried this option by setting "supportsNullAssociatedData": true and not including "associatedDataPattern" in my registration but  I get the following error reported from the server:

ACVPProxy (11:05:12) () Error [lib/common/network_helper.c:acvp_net_op:124]: Server error response: [
  {
    "acvVersion": "1.0"
  },
  {
    "error": "Validation error(s) on JSON payload.",
    "context": [